<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>测试-机构管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../dist/css/bvms.css">
</head>

<!--body里面的class一定要设置样式，不然是白色的-->
<body class="hold-transition skin-blue sidebar-mini">
<div id="content_id" class="wrapper">

  <!--顶部导航栏-->
  <header class="main-header">
    <a href="../../index2.html" class="logo">
      <span class="logo-mini">BVMS</span>
      <span class="logo-lg"><b>金库管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!--切换按钮（左侧的菜单栏的收缩与展开）-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">&numsp;</a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears">&numsp;</i></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <!--左边的菜单栏-->
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>支行金库1管理员</p>
          <a href="#"><i class="fa fa-circle text-success">&numsp;</i> Online</a>
        </div>
      </div>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="font-size: large">主菜单</li>

        <li v-bind:class="{treeview:item.children.length > 0}" v-for="item in parentModuleAvailable"
            v-if="item.type === 0 || item.parentId === 1">
          <a href="#">
            <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
            <span>{{item.name}}</span>
            <span class="pull-right-container">
              <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-for="child in item.children">
              <a v-bind:href="child.path">
                <i class="fa fa-file-text-o">&numsp;</i>{{child.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <!--内容-->
  <section class="content-wrapper">
    <div class="content-header">
      <h1>机构管理</h1>
    </div>
    <div class="content">
      <div class="box box-solid box-primary">
        <div class="box-header">
          <div class="box-title">
            机构列表
            <div class="btn-group">
              <button class="btn btn-success btn-sm" id="btn_dialog" tabindex="-1"
                      data-toggle="modal" data-target="#bankModal" v-on:click="clearInputData()">添加机构
              </button>
              <button class="btn btn-info btn-sm" id="btn_update" tabindex="-1"
                      data-toggle="modal" data-target="#bankModal" v-on:click="updateBank()">更新机构
              </button>
              <button class="btn btn-danger btn-sm" id="btn_delete" v-on:click="deleteBank()">删除机构</button>
            </div>
          </div>
            <!--模态框-机构编辑-->
            <div class="modal fade" style="color: #1b6d85" id="bankModal" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 style="display: inline">添加/修改机构</h3>
                    <button class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-addon">编号</span>
                          <input type="text" class="form-control" title="请输入编号" v-model="bankInput.code">
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">名称</span>
                          <input type="text" class="form-control" title="请输入名称" v-model="bankInput.name">
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">联系人</span>
                          <input type="text" class="form-control" title="请输入联系人" v-model="bankInput.contacts">
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">联系电话</span>
                          <input type="text" class="form-control" title="请输入联系电话" v-model="bankInput.contactTele">
                        </div>
                        <br>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-addon">类型</span>
                          <select class="form-control" title="请选择机构类型" v-model.number="bankInput.type">
                            <option value="1">网点</option>
                            <option value="0">金库</option>
                          </select>
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">简称</span>
                          <input type="text" class="form-control" title="请输入简称" v-model="bankInput.nameForShort">
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">联系邮箱</span>
                          <input type="email" class="form-control" title="请输入联系邮箱" v-model="bankInput.email">
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">上级机构</span>
                          <select class="form-control" title="请选择上级机构" v-model="bankInput.parentCode">
                            <option v-bind:value="null">无</option>
                            <option v-for="bank in banks" v-bind:value="bank.code">{{bank.name}}</option>
                          </select>
                        </div>
                        <br>
                      </div>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">地址</span>
                      <input type="text" class="form-control" title="请输入地址" placeholder="请输入不超过200个字符"
                             v-model="bankInput.address">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary" data-dismiss="modal" v-on:click="addBank()">确定</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-striped table-hover">
            <tr>
              <th>选择</th>
              <th>编号</th>
              <th>机构名</th>
              <th>机构名简称</th>
              <th>地址</th>
              <th>上级机构编号</th>
              <th>上级机构名</th>
              <th>联系人</th>
              <th>联系电话</th>
              <th>联系邮箱</th>
              <th>创建时间</th>
              <th>创建人</th>
              <th>类型</th>
            </tr>
            <tr v-for="(bank, index) in banks">
              <td><input type="checkbox" title="选中" v-bind:value="index" v-model="selectedBankIndex"></td>
              <td>{{bank.code}}</td>
              <td>{{bank.name}}</td>
              <td>{{bank.nameForShort}}</td>
              <td>{{bank.address}}</td>
              <td>{{bank.parentCode}}</td>
              <td>{{bank.parentName}}</td>
              <td>{{bank.contacts}}</td>
              <td>{{bank.contactTele}}</td>
              <td>{{bank.email}}</td>
              <td>{{bank.createDate}}</td>
              <td>{{bank.createUserName}}</td>
              <td>{{bank.type === 1 ? '网点' : '金库'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../dist/js/pages/vue.js"></script>
<script src="../../dist/js/pages/bvms-constant.js"></script>
<script src="../../dist/js/pages/bvms-system.js"></script>
<script>
  new Vue({
    el: '#content_id',
    mounted: function () {
      this.getModule();
      this.getBank();
    },
    data: {
      parentModuleAvailable: [],
      banks: [],
      selectedBankIndex: [],
      deleteBankId: [],
      bankInput: {
        code: null,
        name: null,
        email: null,
        contactTele: null,
        contacts: null,
        parentCode: null,
        parentName: null,
        address: null,
        nameForShort: null,
        createUserId: null,
        createUserName: null,
        createDate: null,
        introduction: null,
        peoplesBankCode: null,
        treeCode: null,
        legalPersonCode: null,
        bankCode: null,
        type: null,
      }
    },
    methods: {
      getModule: function () {
        let that = this;
        $.ajax({
          url: getIpTxy() + getPort() + getPath() + 'system_module/all',
          type: 'GET',
          success: function (data) {
            if (data.isSuccess) {
              that.parentModuleAvailable = data.result.filter(function (vaule) {
                if (vaule.isAvailable === 1) {
                  let children = data.result.filter(function (item) {
                    if (item.parentId === vaule.id && item.isAvailable === 1) {
                      return item;
                    }
                  });
                  return vaule['children'] = children;
                }
              });
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      getBank: function () {
        let that = this;
        $.ajax({
          url: getIpLocal() + getPort() + getPath() + 'bank/all',
          type: 'get',
          success: function (data) {
            if (data.isSuccess) {
              that.banks = data.result;
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      addBank: function () {
        let that = this;
        $.ajax({
          url: getIpLocal() + getPort() + getPath() + 'bank/add',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify(that.bankInput),
          success: function (data) {
            if (data.isSuccess) {
              console.log(data);
              that.getBank();
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      updateBank: function () {
        if (this.selectedBankIndex.length > 1) {
          alert('不能同时更新多个机构！');
        } else if (this.selectedBankIndex.length === 0) {
          alert('请选择一个机构！');
        } else {
          this.bankInput = this.banks[this.selectedBankIndex[0]];
        }
      },
      deleteBank: function () {
        let that = this;
        if (that.selectedBankIndex.length === 0) {
          alert("请至少选择一个机构");
        } else {
          that.selectedBankIndex.forEach(function (item) {
            if (!that.deleteBankId.includes(that.banks[item].id)) {
              that.deleteBankId.push(that.banks[item].id);
            }
            console.log(item);
          });
          let ids = that.deleteBankId.toString();
          console.log(ids);
          $.ajax({
            url: getIpLocal() + getPort() + getPath() + 'bank/del/' + ids,
            type: 'post',
            success: function (data) {
              if (data.isSuccess) {
                console.log('请求成功，信息' + data.result);
                that.getBank();
                that.selectedBankIndex = [];
                that.deleteBankId = [];
              } else {
                alert(data.result);
              }
            },
            error: function () {
              alert('与服务器通信失败，请联系管理员');
            }
          });

        }
      },
      clearInputData: function () {
        this.bankInput = {
          code: null,
          name: null,
          email: null,
          contactTele: null,
          contacts: null,
          parentCode: null,
          parentName: null,
          address: null,
          nameForShort: null,
          createUserId: null,
          createUserName: null,
          createDate: null,
          introduction: null,
          peoplesBankCode: null,
          treeCode: null,
          legalPersonCode: null,
          bankCode: null,
          type: null,
        }
      }
    }

  })
</script>

</body>
</html>

















































