<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>测试-网点上缴2</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <script src="../../js/vue.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<!--body里面的class一定要设置样式，不然是白色的-->
<body class="hold-transition skin-blue sidebar-mini">
<div id="content_id" class="wrapper">

  <!--顶部导航栏-->
  <header class="main-header">
    <a href="../../index2.html" class="logo">
      <span class="logo-mini">BVMS</span>
      <span class="logo-lg"><b>金库管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!--切换按钮（左侧的菜单栏的收缩与展开）-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">&numsp;</a>
    </nav>
  </header>

  <!--左边的菜单栏-->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>支行金库1管理员</p>
          <a href="#"><i class="fa fa-circle text-success">&numsp;</i> Online</a>
        </div>
      </div>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="font-size: large">主菜单</li>

        <li v-bind:class="{treeview:item.children.length > 0}" v-for="item in parentModuleAvailable"
            v-if="item.type === 0 || item.parentId === 1">
          <a href="#">
            <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
            <span>{{item.name}}</span>
            <span class="pull-right-container">
              <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-for="child in item.children">
              <a v-bind:href="child.path">
                <i class="fa fa-file-text-o">&numsp;</i>{{child.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <!--内容-->
  <section class="content-wrapper">

    <!--内容头部-->
    <div class="content-header">
      <h1>测试-网点上缴2
        <small>test branch-turn-in2</small>
      </h1>
    </div>

    <!--内容主体-->
    <div class="content">
      <div class="row">
        <div class="col-md-2">
          <button v-on:click="" class="btn btn-primary" style="width: 100%;">添加</button>
        </div>
        <div class="col-md-2">
          <button v-on:click="" class="btn btn-danger" style="width: 100%;">删除</button>
        </div>
      </div>
      <br>
      <div class="box box-primary box-solid">
        <div class="box-header">
          <h3 class="box-title">款箱{{boxNumber}}</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon">上缴金库</span>
                <select class="form-control" title="选择上缴金库" v-model="turnInTaskBox.targetVaultCode">
                  <option v-for="vault in vaults" v-bind:value="vault.code">{{vault.name}}</option>
                </select>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon">物品类别</span>
                <select class="form-control" title="选择物品类别" v-model="turnInTaskBox.itemsType">
                  <option value="1">现金</option>
                  <option value="0">非现金</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon">箱包类别</span>
                <select class="form-control" title="选择箱包类别" v-model="turnInTaskBox.boxType">
                  <option value="1">箱</option>
                  <option value="0">包</option>
                </select>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon">尾箱编号</span>
                <select class="form-control" title="选择尾箱编号" v-model="turnInTaskBox.boxCode">
                  <option v-for="box in boxes" v-bind:value="box.outerCode">{{box.outerCode}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon">任务类别</span>
                <select class="form-control" title="选择任务类别" v-model="turnInTaskBox.taskType">
                  <option value="1">上缴</option>
                  <option value="0">寄存</option>
                </select>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon">尾箱状态</span>
                <select class="form-control" title="选择尾箱状态" v-model="turnInTaskBox.boxIsNormal">
                  <option value="1">正常</option>
                  <option value="0">异常</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon">上缴日期</span>
                <input type="date" class="form-control" title="选择上缴日期" v-model="turnInTaskBox.turnInDate">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon">解领日期</span>
                <input type="date" class="form-control" title="选择解领日期" v-model="turnInTaskBox.turnBackDate">
              </div>
            </div>
          </div>
          <br>
          <div class="box box-default box-solid">
            <div class="box-header">
              <div>
                <span class="box-title">款箱1 · 待装箱物品</span>
                <span>&nbsp;</span>
                <button class="btn btn-sm" v-on:click="addItem()">添加物品</button>
                <button class="btn btn-sm" v-on:click="delItem()">删除物品</button>
              </div>
            </div>
            <div class="box-body">
              <div v-for="item in turnInTaskBox.items">
                <div class="row">
                  <div class="col-md-3">
                    <div class="input-group">
                      <span class="input-group-addon">币种</span>
                      <select class="form-control" title="币种" v-model.number="item.currency">
                        <option value="1">人民币</option>
                        <option value="2">美元</option>
                        <option value="3">欧元</option>
                        <option value="4">英镑</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="input-group">
                      <span class="input-group-addon">面额</span>
                      <select class="form-control" title="面额" v-model.number="item.denomination">
                        <option value="100">100</option>
                        <option value="50">50</option>
                        <option value="20">20</option>
                        <option value="10">10</option>
                        <option value="5">5</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="input-group">
                      <span class="input-group-addon">数量（把）</span>
                      <select class="input-group-addon" title="现金单位" style="display: none">
                        <option value="0">张</option>
                        <option value="1">把</option>
                      </select>
                      <input type="number" class="form-control" v-model.number="item.amount"
                             style="display: inline" placeholder="请输入把数信息">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="input-group">
                      <span class="input-group-addon">总额</span>
                      <input type="text" class="form-control" title="总额" v-model="item.sum" disabled>
                    </div>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../js/vue.js"></script>
<script src="constant.js"></script>
<script>
  new Vue({
    el: '#content_id',
    mounted: function () {
      this.getModule();
      this.getVault();
      this.getBox();
    },
    data: {
      parentModuleAvailable: [],
      boxNumber: '',
      turnInTaskBoxes: [{
        targetVaultCode: null,  // 目标金库
        boxType: 1,  // 箱包类别
        taskType: 1,  // 任务类别
        turnInDate: null,  // 上缴日期
        itemsType: 1,  // 物品类别
        boxCode: '',  // 尾箱编号
        boxIsNormal: 1,  // 尾箱状态
        turnBackDate: null,  // 解领日期
        items: []  // 箱子中的物品
      }],
      turnInTaskBox: {
        targetVaultCode: null,  // 目标金库
        boxType: 1,  // 箱包类别
        taskType: 1,  // 任务类别
        turnInDate: null,  // 上缴日期
        itemsType: 1,  // 物品类别
        boxCode: null,  // 尾箱编号
        boxIsNormal: 1,  // 尾箱状态
        turnBackDate: null,  // 解领日期
        items: [{
          currency: 1,
          denomination: 100,
          amount: 0,
          sum: null,
        }]  // 箱子中的物品
      },
      vaults: [],
      boxes: [],
      bankCode: '',
    },
    methods: {
      getModule: function () {
        let that = this;
        $.ajax({
          url: getIpTxy() + getPort() + getPath() + 'system_module/all',
          type: 'GET',
          success: function (data) {
            that.modules = data.result;
            that.parentModuleAll = data.result.filter(function (item) {
              if (item.type === 0) {
                return item;
              }
            });
            that.parentModuleAvailable = data.result.filter(function (vaule) {
              if (vaule.isAvailable === 1) {
                let children = data.result.filter(function (item) {
                  if (item.parentId === vaule.id && item.isAvailable === 1) {
                    return item;
                  }
                });
                return vaule['children'] = children;
              }
            });
          }
        });
      },
      getVault: function () {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'bank/all/type/0',
          type: 'get',
          success: function (data) {
            that.vaults = data.result;
          }
        });
      },
      getBox: function () {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'box/all',
          type: 'GET',
          success: function (data) {
            that.boxes = data.result;
          },
          error: function () {
            console.log('获取尾箱列表失败');
          }
        });
      },
      addItem: function () {
        let item = {
          currency: 1,
          denomination: 100,
          amount: 0,
          sum: null,
        };
        this.turnInTaskBox.items.push(item);
      },
      delItem: function () {
        this.turnInTaskBox.items.pop();
      },

    }

  });
</script>

</body>
</html>

















































