<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>测试-图标测试</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
</head>

<!--body里面的class一定要设置样式，不然是白色的-->
<body class="hold-transition skin-blue sidebar-mini">
<div id="content_id" class="wrapper">

  <!--顶部导航栏-->
  <header class="main-header">
    <a href="../../index2.html" class="logo">
      <span class="logo-mini">BVMS</span>
      <span class="logo-lg"><b>金库管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!--切换按钮（左侧的菜单栏的收缩与展开）-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">&numsp;</a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears">&numsp;</i></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <!--左边的菜单栏-->
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>支行金库1管理员</p>
          <a href="#"><i class="fa fa-circle text-success">&numsp;</i> Online</a>
        </div>
      </div>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="font-size: large">主菜单</li>

        <li v-bind:class="{treeview:item.children.length > 0}" v-for="item in parentModuleAvailable"
            v-if="item.type === 0 || item.parentId === 1">
          <a href="#">
            <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
            <span>{{item.name}}</span>
            <span class="pull-right-container">
              <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-for="child in item.children">
              <a v-bind:href="child.path">
                <i class="fa fa-file-text-o">&numsp;</i>{{child.name}}
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </section>
  </aside>

  <!--内容-->
  <section class="content-wrapper">
    <div class="content-header">
      <h1>图表测试</h1>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <div class="box-title">柱状图</div>
              <button class="btn btn-box-tool pull-right" v-on:click="loadChart1()">
                <i class="fa fa-refresh"></i>
              </button>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="chart1"></canvas>
              </div>
            </div>
            <div class="box-footer">底部</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <div class="box-title">圆饼图</div>
              <button class="btn btn-box-tool pull-right" v-on:click="loadChart2()">
                <i class="fa fa-refresh"></i>
              </button>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="chart2"></canvas>
              </div>
            </div>
            <div class="box-footer">底部</div>
          </div>
        </div>
      </div>
      <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">曲线图</h3>
        <button class="btn btn-box-tool pull-right" v-on:click="loadChart3()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
      <div class="box-body">
        <div class="chart">
          <canvas id="chart3"></canvas>
        </div>
      </div>
      <div class="box-footer">底部</div>
    </div>
    </div>
  </section>
</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<!-- ChartJS -->
<script src="../../bower_components/chart.js/dist/Chart.min.js"></script>
<!-- FastClick -->
<script src="../../bower_components/fastclick/lib/fastclick.js"></script>
<script src="../../js/vue.js"></script>
<script src="constant.js"></script>
<script>
  new Vue({
    el: '#content_id',
    mounted: function () {
      this.getModule();
      this.loadChart1();
      this.loadChart2();
      this.loadChart3();
    },
    data: {
      parentModuleAvailable: [],
    },
    methods: {
      getModule: function () {
        let that = this;
        $.ajax({
          url: getIpTxy() + getPort() + getPath() + 'system_module/all',
          type: 'GET',
          success: function (data) {
            if (data.isSuccess) {
              that.parentModuleAvailable = data.result.filter(function (vaule) {
                if (vaule.isAvailable === 1) {
                  let children = data.result.filter(function (item) {
                    if (item.parentId === vaule.id && item.isAvailable === 1) {
                      return item;
                    }
                  });
                  return vaule['children'] = children;
                }
              });
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      loadChart1: function () {
        let ctx = document.getElementById("chart1").getContext('2d');
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
              label: '柱状图',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1,
            }],
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        })
      },
      loadChart2: function () {
        let ctx = $("#chart2").get(0).getContext('2d');
        let content = {
          type: '',
          data: {
            type: 'pie',
            data: {
              labels: ['周一', '周二', '周三', '周四', '周五', '周六', '周天'],
              datasets: [{
                label: '圆饼图',
                data: [10, 20, 30, 40, 50, 60, 70],
                backgroundColor: ['#ff1234', '#551234', '#88ff99', '#ff44bb', '#93fff7', '#002266', '#335588'],
                borderColor: ['#ff123411', '#55123411', '#88ff9911', '#ff44bb11', '#93fff711', '#00226611', '#33558811'],
                hoverBackgroundColor: ['#ff1234', '#551234', '#88ff99', '#ff44bb', '#93fff7', '#002266', '#335588'],
                hoverBorderColor: ['#ff123411', '#55123411', '#88ff9911', '#ff44bb11', '#93fff711', '#00226611', '#33558811'],
                borderWidth: 1,
                hoverBorderWidth: 1,
              }],
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          }
        };
        new Chart(ctx, content);
      },
      loadChart3: function () {
        let ctx = $("#chart3").get(0).getContext('2d');
        let content = {
          type: 'line',
          data: {
            labels: ['周一', '周二', '周三', '周四', '周五', '周六', '周天'],
            datasets: [{
              label: '曲线图',
              data: [10, 20, 30, 40, 50, 80, 70],
              backgroundColor: '#0000ff11',
              borderColor: '#0000ff',
              borderWidth: 1,
            }],
          },
          options: {
            scales: {
              yAxes: [{
                stacked: true,
              }]
            }
          }
        };
        new Chart(ctx, content);
      }
    }

  })
</script>

</body>
</html>

















































