<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>测试-角色管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../dist/css/bvms.css">
</head>

<!--body里面的class一定要设置样式，不然是白色的-->
<body class="hold-transition skin-blue sidebar-mini">
<div id="content_id" class="wrapper">

  <!--顶部导航栏-->
  <header class="main-header">
    <a href="../../index2.html" class="logo">
      <span class="logo-mini">BVMS</span>
      <span class="logo-lg"><b>金库管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!--切换按钮（左侧的菜单栏的收缩与展开）-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">&numsp;</a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears">&numsp;</i></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <!--左边的菜单栏-->
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>支行金库1管理员</p>
          <a href="#"><i class="fa fa-circle text-success">&numsp;</i> Online</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="font-size: large">主菜单</li>
        <li v-bind:class="{treeview:item.children.length > 0}" v-for="item in parentModuleAvailable"
            v-if="item.type === 0 || item.parentId === 1">
          <a href="#">
            <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
            <span>{{item.name}}</span>
            <span class="pull-right-container">
              <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-for="child in item.children">
              <a v-bind:href="child.path">
                <i class="fa fa-file-text-o">&numsp;</i>{{child.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <!--内容-->
  <section class="content-wrapper">
    <div class="content-header">
      <h1>角色管理</h1>
      <br>
      <div class="btn-group">
        <button class="btn btn-success btn-flat" tabindex="-1"
                data-toggle="modal" data-target="#roleModal" v-on:click="clearInputData()">添加角色
        </button>
        <button class="btn btn-info btn-flat" tabindex="-1"
                data-toggle="modal" v-bind:data-target="targetModal" v-on:click="updateRole()">更新角色
        </button>
        <button class="btn btn-danger btn-flat" v-on:click="deleteRole()">删除角色</button>
      </div>
      <button class="btn btn-warning btn-flat" tabindex="-1"
              data-toggle="modal" data-target="#moduleToRoleModal" v-on:click="updateRole(1)">权限设置
      </button>
    </div>
    <div class="content">
      <div class="box box-solid box-primary" style="border-radius: 0">
        <div class="box-header">
          <div class="box-title">
            角色列表
            <!--<div class="btn-group">-->
              <!--<button class="btn btn-success btn-sm" tabindex="-1"-->
                      <!--data-toggle="modal" data-target="#roleModal" v-on:click="clearInputData()">添加角色-->
              <!--</button>-->
              <!--<button class="btn btn-info btn-sm" tabindex="-1"-->
                      <!--data-toggle="modal" v-bind:data-target="targetModal" v-on:click="updateRole()">更新角色-->
              <!--</button>-->
              <!--<button class="btn btn-danger btn-sm" v-on:click="deleteRole()">删除角色</button>-->
            <!--</div>-->
            <!--<button class="btn btn-warning btn-sm" tabindex="-1"-->
                    <!--data-toggle="modal" data-target="#moduleToRoleModal" v-on:click="updateRole(1)">权限设置-->
            <!--</button>-->
          </div>
          <!--模态框-角色编辑-->
          <div class="modal fade" style="color: #1b6d85" id="roleModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 style="display: inline">添加/修改角色</h3>
                  <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <span class="input-group-addon">角色名</span>
                        <input type="text" class="form-control" placeholder="请输入角色名"
                               v-model="roleInput.name">
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">是否可用</span>
                        <select id="selectRoleIsAvailable" class="form-control" v-model.number="roleInput.isAvailable"
                                title="是否可用">
                          <option value="1">可用</option>
                          <option value="0">不可用</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <span class="input-group-addon">父角色</span>
                        <select class="form-control" v-model="roleInput.parentName" title="父角色">
                          <option v-for="role in roles">{{role.name}}</option>
                        </select>
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">文件上传</span>
                        <input type="file" title="文件上传" class="form-control" v-on:change="fileOpearate()">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">取消</button>
                  <button class="btn btn-primary" data-dismiss="modal" v-on:click="addRole()">确定</button>
                </div>
              </div>
            </div>
          </div>
          <!--模态框-权限编辑-->
          <div class="modal fade" style="color: #1b6d85" id="moduleToRoleModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 style="display: inline">查看/修改角色权限</h3>
                  <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="input-group">
                    <span class="input-group-addon">角色名</span>
                    <input type="text" class="form-control" v-model="roleInput.name" title="角色名" disabled>
                  </div>
                  <br>
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-info" style="font-size: 20px">模块列表</li>
                    <li class="list-group-item"
                        v-for="module in modules2"
                        v-on:click="clickModule(module.type, module.id)"
                        v-bind:style="setFloderStyle(module.type)"
                        v-show="module.isVisible">
                      <span class="fa"
                            v-bind:class="{'fa-folder' : module.type === 0, 'fa-file-text-o' : module.type === 1}">
                        &numsp;
                      </span>
                      &nbsp;&nbsp;{{module.name}}
                      <span class="fa fa-check pull-right" v-if="setCheckIconShow(module.type, module.id)">&numsp;</span>
                    </li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">取消</button>
                  <button class="btn btn-primary" data-dismiss="modal" v-on:click="addModuleToRole()">确定</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-striped table-hover">
            <tr>
              <th><input type="checkbox" title="全选"></th>
              <th>编号</th>
              <th>角色名</th>
              <th>父角色名</th>
              <th>是否可用</th>
            </tr>
            <tr v-for="(role, index) in roles">
              <td><input type="checkbox" title="选择" v-bind:value="index" v-model="selectedRoleIndex"></td>
              <td>{{role.id}}</td>
              <td>{{role.name}}</td>
              <td>{{role.parentName}}</td>
              <td>{{role.isAvailable === 1 ? '可用' : '不可用'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../dist/js/pages/vue.js"></script>
<script src="../../dist/js/pages/bvms-constant.js"></script>
<script src="../../dist/js/pages/bvms-system.js"></script>
<script>
  new Vue({
    el: '#content_id',
    mounted: function () {
      this.getModule();
      this.getRole();
    },
    data: {
      // 侧边栏目录模块对应的数据
      parentModuleAvailable: [],

      // 所有模块
      modules: [],

      // 处理后的模块集合，用于分配权限
      modules2: [],

      // 点击的目录的id
      clickFolderId: null,

      // 角色表格中的数据
      roles: [],

      // 左侧的复选框选中的序号
      selectedRoleIndex: [],

      // 要删除的id
      deleteRoleId: [],

      // 模态框中的数据
      roleInput: {
        id: null,
        name: null,
        parentId: null,
        parentName: null,
        isAvailable: 1
      },

      // 角色对应的模块id
      selectedModuleId: [],

      // 是否能打开模态框
      isCanOpenModal: false,

      // 目标modal
      targetModal: '',

      // 文件
      file: '',
    },
    methods: {
      getModule: function () {
        let that = this;
        $.ajax({
          url: getIpTxy() + getPort() + getPath() + 'system_module/all',
          type: 'GET',
          success: function (data) {
            if (data.isSuccess) {
              that.modules = data.result;
              that.modules.map(function (module) {
                if (module.tier > 0) {
                  that.modules2.push(Object.assign({}, module, {isVisible: true}));
                }
              });
              that.parentModuleAvailable = data.result.filter(function (vaule) {
                if (vaule.isAvailable === 1) {
                  let children = data.result.filter(function (item) {
                    if (item.parentId === vaule.id && item.isAvailable === 1) {
                      return item;
                    }
                  });
                  return vaule['children'] = children;
                }
              });
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },

      getRole: function () {
        let that = this;
        $.ajax({
          url: getIpLocal() + getPort() + getPath() + 'system_role/all',
          type: 'GET',
          success: function (data) {
            if (data.isSuccess) {
              that.roles = data.result;
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },

      addRole: function () {
        let that = this;
        $.ajax({
          url: getIpLocal() + getPort() + getPath() + 'system_role/add',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify(that.roleInput),
          success: function (data) {
            if (data.isSuccess) {
              that.getRole();
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },

      updateRole: function (n) {
        let that = this;
        that.targetModal = that.selectedRoleIndex.length === 1 ? '#roleModal' : '';
        if (that.selectedRoleIndex.length > 1) {
          alert('不能同时更新多个角色！');
        } else if (that.selectedRoleIndex.length === 0) {
          alert('请选择一个角色！');
        } else {
          that.roleInput = that.roles[that.selectedRoleIndex[0]];
          if (n === 1) {
            // 先将选择的模块id的数组置为空
            that.selectedModuleId = [];
            // 再请求该角色拥有的模块权限
            that.getModuleIdByRoleId(that.roleInput.id);
            // 将所有的模块设置为可视，方便第一眼查看
            that.modules2.map(function (module) {
              module.isVisible = true;
            })
          }
        }
      },

      getModuleIdByRoleId: function (roleId) {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'module_to_role/' + roleId + '/all',
          type: 'get',
          success: function (data) {
            if (data.isSuccess) {
              let moduleToRoles;
              moduleToRoles = data.result || [];
              moduleToRoles.forEach(function (moduleToRole) {
                that.selectedModuleId.push(moduleToRole.moduleId)
              });
            } else {
              alert(data.result);
            }

          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },

      deleteRole: function () {
        let that = this;
        if (that.selectedRoleIndex.length === 0) {
          alert("请至少选择一个角色");
        } else {
          that.selectedRoleIndex.forEach(function (item) {
            if (!that.deleteRoleId.includes(that.roles[item].id)) {
              that.deleteRoleId.push(that.roles[item].id);
            }
          });
          let ids = that.deleteRoleId.toString();
          console.log('要删除的角色的id：' + ids);
          $.ajax({
            url: getIpLocal() + getPort() + getPath() + 'system_role/del/' + ids,
            type: 'post',
            success: function (data) {
              if (data.isSuccess) {
                console.log('请求成功，信息：' + data.result);
                that.getRole();
                that.selectedRoleIndex = [];
                that.deleteRoleId = [];
              } else {
                alert(data.result);
              }
            },
            error: function () {
              alert('与服务器通信失败，请联系管理员');
            }
          });
        }
      },

      fileOpearate: function () {
        // TODO 处理文件
      },

      addModuleToRole: function () {
        let that = this;
        let ajaxUrl = getUrlLocal() + 'module_to_role/addAll/' + that.roleInput.id + '/'
          + that.selectedModuleId.toString();
        let ajaxType = 'post';
        if (that.selectedModuleId.length === 0) {
          ajaxUrl = getUrlLocal() + 'module_to_role/del/role/' + that.roleInput.id;
          ajaxType = 'delete';
        }
        $.ajax({
          url: ajaxUrl,
          type: ajaxType,
          success: function (data) {
            if (data.isSuccess) {
              console.log(data.description + data.result);
              that.selectedModuleId = [];
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },

      clickModule: function (type, id) {
        let that = this;
        if (type === 0) {
          // 点击的是目录
          console.log('点击的是目录');
          that.modules2.map(function (module) {
            if (module.parentId === id) {
              module.isVisible = !module.isVisible;
            }
          });
        } else {
          // 点击的是模块
          let index = that.selectedModuleId.indexOf(id);
          if (index !== -1) {
            // 数组中存在该模块id，删除这个id
            that.selectedModuleId.splice(index, 1);
          } else {
            // 数组中不存在该模块id，添加这个id
            that.selectedModuleId.push(id)
          }
          console.log('已选择的模块：' + that.selectedModuleId.toString());
        }
      },

      clearInputData: function () {
        this.roleInput = {
          id: null,
          name: null,
          parentId: null,
          parentName: null,
          isAvailable: 1
        }
      },

      setFloderStyle: function (type) {
        if (type === 0) {
          return 'background: lightgrey';
        }
      },

      setCheckIconShow: function (type, id) {
        return type === 1 && this.selectedModuleId.includes(id);
      }
    }

  })
</script>

</body>
</html>

















































