<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>测试-角色管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="../../bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="../../plugins/iCheck/all.css">
  <link rel="stylesheet" href="../../bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
  <link rel="stylesheet" href="../../plugins/timepicker/bootstrap-timepicker.min.css">
  <link rel="stylesheet" href="../../bower_components/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../dist/css/bootstrap-select.css">
</head>

<!--body里面的class一定要设置样式，不然是白色的-->
<body class="hold-transition skin-blue sidebar-mini">
<div id="content_id" class="wrapper">

  <!--顶部导航栏-->
  <header class="main-header">
    <a href="../../index2.html" class="logo">
      <span class="logo-mini">BVMS</span>
      <span class="logo-lg"><b>金库管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!--切换按钮（左侧的菜单栏的收缩与展开）-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">&numsp;</a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears">&numsp;</i></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <!--左边的菜单栏-->
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>支行金库1管理员</p>
          <a href="#"><i class="fa fa-circle text-success">&numsp;</i> Online</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="font-size: large">主菜单</li>
        <li v-bind:class="{treeview:item.children.length > 0}" v-for="item in parentModuleAvailable"
            v-if="item.type === 0 || item.parentId === 1">
          <a href="#">
            <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
            <span>{{item.name}}</span>
            <span class="pull-right-container">
              <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-for="child in item.children">
              <a href="#">
                <i class="fa fa-file-text-o">&numsp;</i>{{child.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <!--内容-->
  <section class="content-wrapper">
    <div class="content-header">
      <h1>角色管理</h1>
    </div>
    <div class="content">
      <div class="box box-solid box-primary">
        <div class="box-header">
          <div class="box-title">
            角色列表
            <button class="btn btn-warning btn-sm" id="btn_dialog" tabindex="-1"
                    data-toggle="modal" data-target="#roleModal">添加角色
            </button>
            <button class="btn btn-warning btn-sm" id="btn_update" tabindex="-1"
                    data-toggle="modal" v-bind:data-target="targetModal" v-on:click="updateRole()">更新角色
            </button>
            <!--模态框-角色编辑-->
            <div class="modal fade" style="color: #1b6d85" id="roleModal" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 style="display: inline">添加/修改角色</h3>
                    <button class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <form role="form" class="form-group">
                          <label for="inputRoleName" style="font-size: 14px">角色名</label>
                          <input type="text" class="form-control" id="inputRoleName" placeholder="请输入角色名"
                                 v-model="roleInput.name">
                          <br>
                          <label for="selectRoleIsAvailable" style="font-size: 14px">是否可用</label>
                          <select id="selectRoleIsAvailable" class="form-control"
                                  v-model.number="roleInput.isAvailable">
                            <option value="1">可用</option>
                            <option value="0">不可用</option>
                          </select>
                        </form>
                      </div>
                      <div class="col-md-6">
                        <form role="form" class="form-group">
                          <label for="selectRoleParentId" style="font-size: 14px">父角色</label>
                          <select id="selectRoleParentId" class="form-control" v-model="roleInput.parentName">
                            <option v-for="role in roles">{{role.name}}</option>
                          </select>
                          <br>
                          <label for="inputFile" style="font-size: 14px">文件上传</label>
                          <input type="file" title="文件上传" id="inputFile" class="form-control"
                                 v-on:change="fileOpearate()">
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary" data-dismiss="modal" v-on:click="addRole()">确定</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-striped table-hover">
            <tr>
              <th><input type="checkbox" title="全选"></th>
              <th>编号</th>
              <th>角色名</th>
              <th>父角色名</th>
              <th>是否可用</th>
              <th>权限</th>
            </tr>
            <tr v-for="(role, index) in roles">
              <td><input type="checkbox" title="选择" v-bind:value="index" v-model="selectedRoleIndex"></td>
              <td>{{role.id}}</td>
              <td>{{role.name}}</td>
              <td>{{role.parentName}}</td>
              <td>{{role.isAvailable === 1 ? '可用' : '不可用'}}</td>
              <td>
                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#moduleToRoleModal"
                       v-on:click="setSelectRole(role.id)">查看 / 设置
                </button>
              </td>
            </tr>
          </table>
          <!--模态框-权限编辑-->
          <div class="modal fade" style="color: #1b6d85" role="dialog" id="moduleToRoleModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header" style="background: #1a2226">
                  <h3 style="display: inline">查看/修改角色权限</h3>
                  <button class="close" data-dismiss="modal" style="color: white">&times;</button>
                </div>
                <div class="modal-body" style="background: #222d32">
                  <!--类似左侧边栏的权限配置框-->
                  <ul class="sidebar-menu" data-widget="tree">
                    <li v-bind:class="{treeview:item.children.length > 0}" v-for="item in parentModuleAvailable"
                        v-if="item.type === 0 || item.parentId === 1">
                      <a href="#">
                        <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
                        <span>{{item.name}}</span>
                        <span class="pull-right-container">
                          <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
                        </span>
                      </a>
                      <ul class="treeview-menu" style="width: 90%; margin: 0 auto">
                        <li v-for="child in item.children">
                          <a href="#">
                            <input type="checkbox" title="选中" v-model="moduleChecked"
                                   v-bind:value="child.parentId + '-' + child.id">
                            <span>&nbsp;</span>
                            {{child.name}}
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="modal-footer" style="background: #3c4b4f">
                  <button class="btn btn-danger" data-dismiss="modal">取消</button>
                  <button class="btn btn-primary" data-dismiss="modal" v-on:click="addRole()">确定</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="../../plugins/input-mask/jquery.inputmask.js"></script>
<script src="../../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="../../plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script src="../../bower_components/moment/min/moment.min.js"></script>
<script src="../../bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="../../bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script src="../../plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="../../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script src="../../bower_components/fastclick/lib/fastclick.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../dist/js/demo.js"></script>
<script src="../../js/vue.js"></script>
<script>
    new Vue({
        el: '#content_id',
        mounted: function () {
            this.getModule();
            this.getRole();
        },
        data: {
            // 侧边栏目录模块对应的数据
            parentModuleAvailable: [],

            // 角色表格中的数据
            roles: [],

            // 左侧的复选框选中的序号
            selectedRoleIndex: [],

            // 模态框中的数据
            roleInput: {
                id: null,
                name: null,
                parentId: null,
                parentName: null,
                isAvailable: 1
            },

            // 是否能打开模态框
            isCanOpenModal: false,

            // 目标modal
            targetModal: '',

            // 文件
            file: '',

            // 模块（权限）选择
            moduleChecked: [],

            // 点击按钮选中的角色id
            selectedRoleId: 0,

        },
        methods: {
            getModule: function () {
                let that = this;
                $.ajax({
                    url: 'http://118.25.107.131:8081/bts2/system_module/all',
                    type: 'GET',
                    success: function (data) {
                        that.parentModuleAvailable = data.result.filter(function (vaule) {
                            if (vaule.isAvailable === 1) {
                                let children = data.result.filter(function (item) {
                                    if (item.parentId === vaule.id && item.isAvailable === 1) {
                                        return item;
                                    }
                                });
                                return vaule['children'] = children;
                            }
                        });
                    }
                });
            },
            getRole: function () {
                let that = this;
                $.ajax({
                    url: 'http://localhost:8081/bts2/system_role/all',
                    type: 'GET',
                    success: function (data) {
                        that.roles = data.result;
                    }
                });
            },
            addRole: function () {
                let that = this;
                $.ajax({
                    url: 'http://localhost:8081/bts2/system_role/add',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(that.roleInput),
                    success: function (data) {
                        alert('添加角色成功！');
                    },
                    error: function (data) {
                        alert('添加角色失败！');
                    }
                });
            },
            updateRole: function () {
                this.targetModal = this.selectedRoleIndex.length === 1 ? '#roleModal' : '';
                if (this.selectedRoleIndex.length > 1) {
                    alert('不能同时更新多个模块！');
                } else if (this.selectedRoleIndex.length === 0) {
                    alert('请选择一个模块！');
                } else {
                    this.roleInput = this.roles[this.selectedRoleIndex[0]];
                }
            },
            fileOpearate: function () {
                // TODO 处理文件
            },
            setSelectRole: function (roleId) {
                console.log(roleId + '----lpx');
                this.selectedRoleId = roleId;
            }
        }

    })
</script>

</body>
</html>

















































