<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>测试-系统模块管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
</head>

<!--body里面的class一定要设置样式，不然是白色的-->
<body class="hold-transition skin-blue sidebar-mini">
<div id="content_id" class="wrapper">

  <!--顶部导航栏-->
  <header class="main-header">
    <a href="../../index2.html" class="logo">
      <span class="logo-mini">BVMS</span>
      <span class="logo-lg"><b>金库管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!--切换按钮（左侧的菜单栏的收缩与展开）-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">&numsp;</a>
    </nav>
  </header>

  <!--左边的菜单栏-->
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>支行金库1管理员</p>
          <a href="#"><i class="fa fa-circle text-success">&numsp;</i> Online</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="font-size: large">主菜单</li>
        <li v-bind:class="{treeview:item.children.length > 0}" v-for="item in parentModuleAvailable"
            v-if="item.type === 0 || item.parentId === 1">
          <a href="#">
            <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
            <span>{{item.name}}</span>
            <span class="pull-right-container">
              <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-for="child in item.children">
              <a v-bind:href="child.path">
                <i class="fa fa-file-text-o">&numsp;</i>{{child.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <!--内容-->
  <section class="content-wrapper">
    <div class="content-header">
      <h1>系统模块管理</h1>
    </div>
    <div class="content">
      <div class="box box-solid box-primary">
        <div class="box-header">
          <div class="box-title">
            模块列表
            <div class="btn-group">
              <button class="btn btn-info btn-sm" tabindex="-1"
                      data-toggle="modal" data-target="#modalTest" v-on:click="clearInputData()">添加模块
              </button>
              <button class="btn btn-warning btn-sm" tabindex="-1"
                      data-toggle="modal" data-target="#modalTest" v-on:click="updateModule()">更新模块
              </button>
              <button class="btn btn-danger btn-sm" v-on:click="deleteModule()">删除模块</button>
            </div>
          </div>
          <!--模态框-->
          <div class="modal fade" id="modalTest" role="dialog">
            <div style="color: #1b6d85">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 style="display: inline">添加/修改模块</h3>
                    <button class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-addon">模块名称</span>
                          <input title="模块名称" type="text" class="form-control" v-model="moduleInput.name">
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">图标路径</span>
                          <input title="图标路径" type="text" class="form-control" v-model="moduleInput.imgPath">
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">是否可用</span>
                          <select title="是否可用" class="form-control" v-model.number="moduleInput.isAvailable">
                            <option value="1">可用</option>
                            <option value="0">不可用</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-addon">模块类别</span>
                          <select title="模块类别" class="form-control" style="width: 100%;"
                                  v-model.number="moduleInput.type">
                            <option value="1">模块</option>
                            <option value="0">目录</option>
                          </select>
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">模块路径</span>
                          <input title="模块路径" type="text" class="form-control" v-model="moduleInput.path" disabled>
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">父模块</span>
                          <select title="父模块名称" class="form-control" v-model="moduleInput.parentName">
                            <option v-for="module in parentModuleAll" v-bind:value="module.name">
                              {{module.name}}
                            </option>
                          </select>
                        </div>
                        <br>
                      </div>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">模块说明</span>
                      <input title="模块说明" class="form-control" placeholder="请说明模块作用（至多120个字符）"
                             v-model="moduleInput.description">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary" data-dismiss="modal" v-on:click="addModule()">确定</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="javascript:void(0)" class="pull-right" v-on:click="getModule()">
            <i class="fa fa-refresh">&numsp;</i>
          </a>
        </div>
        <div class="box-body">
          <table class="table table-striped table-bordered table-hover">
            <tr>
              <th>选择</th>
              <th>编号</th>
              <th>名称</th>
              <th>说明</th>
              <th>路径</th>
              <th>父目录</th>
              <th>图标路径</th>
              <th>是否可用</th>
              <th>类型</th>
              <th>隶属角色</th>
            </tr>
            <tr v-for="(module, index) in modules">
              <td><input type="checkbox" v-bind:value="index" title="选中" v-model="selectedModuleIndex"></td>
              <td>{{module.id}}</td>
              <td>{{module.name}}</td>
              <td>{{module.description}}</td>
              <td>{{module.path}}</td>
              <td>{{module.parentName}}</td>
              <td>{{module.imgPath}}</td>
              <td>{{module.isAvailable === 1 ? '可用' : '不可用'}}</td>
              <td>{{module.type === 1 ? '页面' : '目录'}}</td>
              <td>{{module.roleId}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../js/vue.js"></script>
<script src="constant.js"></script>
<script>
  new Vue({
    el: '#content_id',
    mounted: function () {
      this.getModule();
    },
    data: {
      modules: [],
      parentModuleAll: [],
      parentModuleAvailable: [],
      selectedModuleIndex: [],
      deleteModuleId: [],
      moduleInput: {
        id: null,
        name: '',
        description: '',
        path: '',
        parentId: null,
        parentName: '',
        tier: null,
        imgPath: '',
        isAvailable: 1,
        type: 1,
        roleId: null
      }
    },
    methods: {
      getModule: function () {
        let that = this;
        $.ajax({
          url: getIpTxy() + getPort() + getPath() + 'system_module/all',
          type: 'GET',
          success: function (data) {
            that.modules = data.result;
            that.parentModuleAll = data.result.filter(function (item) {
              if (item.type === 0) {
                return item;
              }
            });
            that.parentModuleAvailable = data.result.filter(function (vaule) {
              if (vaule.isAvailable === 1) {
                let children = data.result.filter(function (item) {
                  if (item.parentId === vaule.id && item.isAvailable === 1) {
                    return item;
                  }
                });
                return vaule['children'] = children;
              }
            });
          }
        });
      },
      addModule: function () {
        let that = this;
        if (this.checkName()) {
          $.ajax({
            url: getIpTxy() + getPort() + getPath() + 'system_module/add',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify(that.moduleInput),
            success: function (data) {
              alert('操作成功' + data.result.name);
              that.getModule();
            },
            error: function () {
              alert('操作失败');
            }
          });
        } else {
          alert("模块名已被使用，请重新填写！");
        }
      },
      checkName: function () {
        let that = this;
        $.ajax({
          url: getIpTxy() + getPort() + getPath() + 'system_module/checkName/' + that.moduleInput.name,
          type: 'get',
          success: function (data) {
            if (data === 'used') {
            } else if (data === 'unused') {
              return true;
            }
          }
        });
        return true;
      },
      updateModule: function () {
        // TODO 这里的提示还要完善
        if (this.selectedModuleIndex.length > 1) {
          alert('不能同时更新多个模块！');
        } else if (this.selectedModuleIndex.length === 0) {
          alert('请选择一个模块！');
        } else {
          this.moduleInput = this.modules[this.selectedModuleIndex[0]];
          this.moduleInput.parentId = null;
        }
      },
      deleteModule: function () {
        let that = this;
        if (that.selectedModuleIndex.length === 0) {
          alert("请至少选择一个模块");
        } else {
          that.selectedModuleIndex.forEach(function (item) {
            if (!that.deleteModuleId.includes(that.modules[item].id)) {
              that.deleteModuleId.push(that.modules[item].id);
            }
          });
          let allowDel = true;
          that.deleteModuleId.map(function (id) {
            that.modules.map(function (module) {
              if (module.parentId === id) {
                allowDel = false;
              }
            });
          });
          if (allowDel) {
            let ids = that.deleteModuleId.toString();
            console.log('要删除的模块的id：' + ids);
            $.ajax({
              url: getIpLocal() + getPort() + getPath() + 'system_module/del/' + ids,
              type: 'post',
              success: function (data) {
                console.log('请求成功，信息：' + data.result);
                that.getModule();
                that.selectedModuleIndex = [];
                that.deleteModuleId = [];
              },
              error: function (data) {
                console.log('请求失败，信息：' + data);
              }
            });
          } else {
            alert('待删除的模块中包含了子模块，禁止删除！')
          }
        }
      },
      clearInputData: function () {
        this.moduleInput = {
          id: null,
          name: '',
          description: '',
          path: '',
          parentId: null,
          parentName: '',
          tier: null,
          imgPath: '',
          isAvailable: 1,
          type: 1,
          roleId: null
        }
      }
    }
  })
</script>
</body>
</html>

















































