<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>设备管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../dist/css/bvms.css">
</head>

<!--body里面的class一定要设置样式，不然是白色的-->
<body class="hold-transition skin-blue sidebar-mini">
<div id="app" class="wrapper">

  <!--顶部导航栏-->
  <header class="main-header">
    <a href="../index/bvms-index.html" class="logo">
      <span class="logo-mini">BVMS</span>
      <span class="logo-lg"><b>金库管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!--切换按钮（左侧的菜单栏的收缩与展开）-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">&numsp;</a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="javascript:void(0)" onclick="route.logout()"><i class="fa fa-sign-out" title="退出登录">&numsp;</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!--左边的菜单栏-->
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p v-text="loginUser.loginName"></p>
          <a href="#"><i class="fa fa-circle text-success">&numsp;</i>{{loginUser.name}}</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="font-size: large">主菜单</li>
        <li v-bind:class="{treeview:item.children.length > 0}" v-for="item in parentModuleAvailable"
            v-if="item.type === 0 || item.parentId === 1">
          <a href="#">
            <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
            <span v-text="item.name"></span>
            <span class="pull-right-container">
              <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-for="child in item.children">
              <a v-bind:href="child.path">
                <i class="fa fa-file-text-o">&numsp;</i>{{child.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <!--内容-->
  <section class="content-wrapper">
    <div class="content-header">
      <h1>设备管理</h1>
      <br>
      <div class="btn-group">
        <button class="btn btn-success btn-flat" tabindex="-1"
                data-toggle="modal" data-target="#deviceModal" @click="clearInputData()">添加设备
        </button>
        <button class="btn btn-info btn-flat" tabindex="-1"
                data-toggle="modal" data-target="#deviceModal" @click="updateDevice()">更新设备
        </button>
        <button class="btn btn-danger btn-flat" @click="deleteDevice()">删除设备</button>
      </div>
    </div>
    <div class="content">
      <div class="box box-solid box-primary box-flat">
        <div class="box-header">
          <div class="box-title">当前机构设备列表</div>
        </div>
        <div class="box-body">
          <table class="table table-hover table-striped table-bordered">
            <tr>
              <th>选择</th>
              <th>设备类型</th>
              <th>设备编号</th>
              <th>IP</th>
              <th>端口</th>
              <th>归属机构</th>
              <th>操作</th>
            </tr>
            <tr v-for="(device, index) in devices" style="vertical-align: middle">
              <td><input type="checkbox" title="选择" v-bind:value="index" v-model.number="selectedDeviceIndex"></td>
              <td v-text="showType(device.type)"></td>
              <td v-text="device.code"></td>
              <td v-text="device.ip"></td>
              <td v-text="device.port"></td>
              <td v-text="device.departmentCode"></td>
              <td>
                <button class="btn btn-danger btn-sm btn-flat" @click="stopAlarm(device.code)"
                        v-show="device.type === 3 || device.type === 4">停止报警
                </button>
              </td>
            </tr>
          </table>
          <!--设备添加更新模态框-->
          <div class="modal fade" style="color: #1b6d85" id="deviceModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 style="display: inline">添加/修改设备</h3>
                  <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <span class="input-group-addon">设备类型</span>
                        <select class="form-control" v-model.number="deviceInput.type">
                          <option value="1">基站</option>
                          <option value="2">交接定位器</option>
                          <option value="3">门禁定位器</option>
                          <option value="4">监控定位器</option>
                        </select>
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">设备编号</span>
                        <input type="number" class="form-control" title="设备编号" v-model="deviceInput.code">
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">IP地址</span>
                        <input type="text" class="form-control" placeholder="仅针对基站，其他类型设备输入无效"
                               v-bind:disabled="deviceInput.type !== 1" v-model="deviceInput.ip">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <span class="input-group-addon">是否可用</span>
                        <select class="form-control" disabled>
                          <option value="1">可用</option>
                          <option value="0">不可用</option>
                        </select>
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">隶属机构</span>
                        <select class="form-control" title="选择隶属机构" v-model="deviceInput.departmentCode">
                          <option v-for="bank in banks" v-bind:value="bank.code" v-text="bank.name"></option>
                        </select>
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">端口号</span>
                        <input type="number" class="form-control" placeholder="仅针对基站，其他类型设备输入无效"
                               v-bind:disabled="deviceInput.type !== 1" v-model.number="deviceInput.port">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">取消</button>
                  <button class="btn btn-primary" data-dismiss="modal" @click="addDevice()">确定</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../bower_components/vue/dist/vue.js"></script>
<script src="../../dist/js/pages/bvms-constant.js"></script>
<script src="../../dist/js/pages/bvms-system.js"></script>
<script src="../../dist/js/pages/module.js"></script>
<script>
  new Vue({
    el: '#app',
    mounted: function () {
      if (this.loginUser === null) {
        window.location.href = '../system/bvms-login.html';
      }
      const that = this;
      slide.getModule(this.loginUser.id, this.loginUser.loginName, function (module) {
        that.parentModuleAvailable = module;
        console.log(module);
      });
      this.getBank();
      this.getDevice();
    },
    data: {
      loginUser: JSON.parse(sessionStorage.getItem('loginUser')),
      currentPageParentName: sessionStorage.getItem('parentName'),
      currentPagePath: sessionStorage.getItem('path'),
      parentModuleAvailable: [],
      devices: [],
      banks: [],
      deviceInput: {
        type: null,
        code: null,
        ip: null,
        port: null,
        departmentCode: null,
      },
      selectedDeviceIndex: [],
      deleteDeviceId: [],
    },
    methods: {
      getBank: function () {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'bank/all',
          type: 'get',
          success: function (data) {
            if (data.isSuccess) {
              that.banks = data.result;
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      getDevice: function () {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'device/' + that.loginUser.departmentCode + '/all',
          type: 'get',
          success: function (data) {
            if (data.isSuccess) {
              that.devices = data.result;
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      showType: function (type) {
        let typeDesc;
        switch (type) {
          case 1:
            typeDesc = '基站';
            break;
          case 2:
            typeDesc = '交接定位器';
            break;
          case 3:
            typeDesc = '门禁定位器';
            break;
          case 4:
            typeDesc = '监控定位器';
            break;
          default:
            typeDesc = '';
            break;
        }
        return typeDesc;
      },
      clearInputData: function () {
        let that = this;
        that.deviceInput = {
          type: null,
          code: null,
          ip: null,
          port: null,
          departmentCode: that.loginUser.departmentCode,
        }
      },
      addDevice: function () {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'device/add',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify(that.deviceInput),
          success: function (data) {
            if (data.isSuccess) {
              alert('添加/更新设备成功！');
              that.clearInputData();
              that.getDevice();
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      updateDevice: function () {
        let that = this;
        if (that.selectedDeviceIndex.length > 1) {
          alert('不能同时更新多个设备！');
        } else if (that.selectedDeviceIndex.length === 0) {
          alert('请选择一个设备！');
        } else {
          that.deviceInput = that.devices[that.selectedDeviceIndex[0]];
        }
      },
      deleteDevice: function () {
        let that = this;
        if (that.selectedDeviceIndex.length === 0) {
          alert("请至少选择一个设备");
        } else {
          that.selectedDeviceIndex.forEach(function (item) {
            if (!that.deleteDeviceId.includes(that.devices[item].id)) {
              that.deleteDeviceId.push(that.devices[item].id);
            }
          });
          let ids = that.deleteDeviceId.toString();
          console.log('要删除的设备的id：' + ids);
          $.ajax({
            url: getUrlLocal() + 'device/del/' + ids,
            type: 'post',
            success: function (data) {
              if (data.isSuccess) {
                console.log('请求成功，信息：' + data.result);
                that.getDevice();
                that.selectedDeviceIndex = [];
                that.deleteDeviceId = [];
              } else {
                alert(data.result);
              }
            },
            error: function () {
              alert('与服务器通信失败，请联系管理员');
            }
          });
        }
      },
      stopAlarm: function (code) {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'cmd/' + that.loginUser.departmentCode + '/locators/' + code + '/stopAlarm',
          type: 'post',
          success: function (data) {
            if (data.isSuccess) {
              console.log(data.result);
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      }
    }
  })
</script>

</body>
</html>

















































