<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>网点上缴授权</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../dist/css/bvms.css">
</head>

<!--body里面的class一定要设置样式，不然是白色的-->
<body class="hold-transition skin-blue sidebar-mini">
<div id="app" class="wrapper">

  <!--顶部导航栏-->
  <header class="main-header">
    <a href="../index/bvms-index.html" class="logo">
      <span class="logo-mini">BVMS</span>
      <span class="logo-lg"><b>金库管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!--切换按钮（左侧的菜单栏的收缩与展开）-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">&numsp;</a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="javascript:void(0)" onclick="route.logout()"><i class="fa fa-sign-out" title="退出登录">&numsp;</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!--左边的菜单栏-->
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p v-text="loginUser.loginName"></p>
          <a href="#"><i class="fa fa-circle text-success">&numsp;</i>{{loginUser.name}}</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="font-size: large">主菜单</li>
        <li v-bind:class="{treeview:item.children.length > 0, active:item.name === currentPageParentName}"
            v-for="item in parentModuleAvailable"
            v-if="item.type === 0 || item.parentId === 1">
          <a href="#">
            <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
            <span v-text="item.name"></span>
            <span class="pull-right-container">
              <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-for="child in item.children" v-bind:class="{active:child.path === currentPagePath}">
              <a href="javascript:void(0)" @click="goToPage(child.path, item.name)">
                <i class="fa fa-file-text-o">&numsp;</i>{{child.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <!--内容-->
  <section class="content-wrapper">
    <div class="content-header">
      <h1>网点上缴授权</h1>
      <br>
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-success btn-flat btn-block" @click="authorizeApplyAll(2)">批量授权</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-danger btn-flat btn-block" @click="authorizeApplyAll(3)">批量拒绝</button>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="box box-solid box-primary box-flat">
        <div class="box-header">
          <div class="box-title">网点上缴授权</div>
        </div>
        <div class="box-body">
          <table class="table table-hover table-striped table-bordered">
            <tr>
              <th>选择</th>
              <th>申请机构</th>
              <th>目标机构</th>
              <th>申请人</th>
              <th>申请时间</th>
              <th>上缴日期</th>
              <th>解领时间</th>
              <th>尾箱编号</th>
              <th>箱包类别</th>
              <th>尾箱任务类别</th>
              <!--<th>尾箱状态</th>-->
              <th>物品类别</th>
              <th>授权</th>
              <th>拒绝</th>
              <th>详情</th>
            </tr>
            <tr v-for="(box, index) in turnInTaskBoxes">
              <td><input type="checkbox" title="选择" v-bind:value="index" v-model="selectTaskBoxIndex"></td>
              <td v-text="box.applyBankCode"></td>
              <td v-text="box.targetBankCode"></td>
              <td v-text="box.applyUserLoginName"></td>
              <td v-text="box.createTime"></td>
              <td v-text="box.turnInDate"></td>
              <td v-text="box.turnBackDate"></td>
              <td v-text="box.boxOuterCode"></td>
              <td v-text="box.boxType === 1 ? '箱' : '包'"></td>
              <td v-text="box.boxTaskType === 1 ? '上缴' : '寄存'"></td>
              <!--<td>正常</td>-->
              <td v-text="box.boxItemType === 1 ? '现金' : '非现金'"></td>
              <td>
                <button class="btn btn-success btn-sm btn-flat"
                        @click="authorizeApply(box.code, 2)">授权
                </button>
              </td>
              <td>
                <button class="btn btn-danger btn-sm btn-flat"
                        @click="authorizeApply(box.code, 3)">拒绝
                </button>
              </td>
              <td>
                <button class="btn btn-primary btn-sm btn-flat" data-toggle="modal" data-target="#itemsModal"
                        @click="boxIndex = index">查看
                </button>
              </td>
            </tr>
          </table>
          <!--任务箱中内容的模态框-->
          <div class="modal fade" style="color: #1b6d85" id="itemsModal" role="dialog" v-if="turnInTaskBoxes.length > 0">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 style="display: inline" v-text="'任务箱' + turnInTaskBoxes[boxIndex].boxOuterCode"></h3>
                  <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <table class="table table-striped table-hover table-bordered"
                         v-show="turnInTaskBoxes[boxIndex].boxItemType === 1">
                    <tr>
                      <th>币种</th>
                      <th>面额</th>
                      <th>数量</th>
                      <th>总数</th>
                    </tr>
                    <tr v-for="item in turnInTaskBoxes[boxIndex].items">
                      <td v-text="showCurrency(item.currency)"></td>
                      <td v-text="item.denomination"></td>
                      <td v-text="item.amount * 100 + '张'"></td>
                      <td v-text="showCashItemSum(item.currency, item.denomination, item.amount)"></td>
                    </tr>
                  </table>
                  <div class="form-group" v-show="turnInTaskBoxes[boxIndex].boxItemType === 0">
                    <label>物品说明</label>
                    <textarea class="form-control" rows="2" placeholder="物品说明 ..."
                              v-model="turnInTaskBoxes[boxIndex].items[0].itemDesc" disabled></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../bower_components/vue/dist/vue.js"></script>
<script src="../../dist/js/pages/bvms-constant.js"></script>
<script src="../../dist/js/pages/bvms-system.js"></script>
<script src="../../dist/js/pages/module.js"></script>
<script>
  new Vue({
    el: '#app',
    mounted: function () {
      if (this.loginUser === null) {
        window.location.href = '../system/bvms-login.html';
      }
      const that = this;
      slide.getModule(this.loginUser.id, this.loginUser.loginName, function (module) {
        that.parentModuleAvailable = module;
        console.log(module);
      });
      this.getTurnInTaskBoxes();
    },
    data: {
      loginUser: JSON.parse(sessionStorage.getItem('loginUser')),
      currentPageParentName: sessionStorage.getItem('parentName'),
      currentPagePath: sessionStorage.getItem('path'),
      parentModuleAvailable: [],
      turnInTaskBoxes: [],
      boxIndex: 0,
      selectTaskBoxIndex: [],
    },
    methods: {
      goToPage: function (path, parentName) {
        route.goToPage(path, parentName);
      },
      getTurnInTaskBoxes: function () {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'task/taskInfo' +
            '?departmentCode=' + that.loginUser.departmentCode +
            '&taskType=' + '1' +
            '&process=' + '1',
          type: 'get',
          success: function (data) {
            if (data.isSuccess) {
              that.turnInTaskBoxes = JSON.parse(data.result);
              // 先清空复选框勾选
              that.selectTaskBoxIndex = [];
              for (let i = 0; i < that.turnInTaskBoxes.length; i++) {
                // 再依次勾选
                that.selectTaskBoxIndex.push(i);
              }
            } else {
              console.log(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      showCurrency: function (currency) {
        return util.showCurrency(currency);
      },
      showCashItemSum: function (currency, denomination, amount) {
        return (amount * denomination * 100) + this.showCurrency(currency);
      },
      authorizeApply: function (code, authorizeType) {
        let that = this;
        let info = {
          loginName: that.loginUser.loginName,
          id: that.loginUser.id,
          taskCode: code,
          authorizeType: authorizeType,
        };
        $.ajax({
          url: getUrlLocal() + 'task/authorize',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify(info),
          success: function (data) {
            if (data.isSuccess) {
              alert(data.result);
              that.getTurnInTaskBoxes();
            } else {
              alert(data.result);
              that.getTurnInTaskBoxes();
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      authorizeApplyAll: function (authorizeType) {
        let that = this;
        if (that.selectTaskBoxIndex.length === 0) {
          alert('未选择任何任务箱！');
          return;
        }
        let taskCodes = that.selectTaskBoxIndex.map(function (value) {
          return that.turnInTaskBoxes[value].code;
        });
        console.log(taskCodes);
        let info = {
          loginName: that.loginUser.loginName,
          id: that.loginUser.id,
          taskCodes: taskCodes.toString(),
          authorizeType: authorizeType,
        };
        $.ajax({
          url: getUrlLocal() + 'task/authorizeAll',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify(info),
          success: function (data) {
            if (data.isSuccess) {
              alert(data.result);
              that.getTurnInTaskBoxes();
            } else {
              alert(data.result);
              that.getTurnInTaskBoxes();
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
    }
  });
</script>

</body>
</html>

















































