<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>网点上缴交接</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../dist/css/bvms.css">
</head>

<!--body里面的class一定要设置样式，不然是白色的-->
<body class="hold-transition skin-blue sidebar-mini">
<div id="app" class="wrapper">

  <!--顶部导航栏-->
  <header class="main-header">
    <a href="../index/bvms-index.html" class="logo">
      <span class="logo-mini">BVMS</span>
      <span class="logo-lg"><b>金库管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!--切换按钮（左侧的菜单栏的收缩与展开）-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">&numsp;</a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="javascript:void(0)" onclick="route.logout()"><i class="fa fa-sign-out" title="退出登录">&numsp;</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!--左边的菜单栏-->
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p v-text="loginUser.loginName"></p>
          <a href="#"><i class="fa fa-circle text-success">&numsp;</i>{{loginUser.name}}</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="font-size: large">主菜单</li>
        <li v-bind:class="{treeview:item.children.length > 0, active:item.name === currentPageParentName}"
            v-for="item in parentModuleAvailable"
            v-if="item.type === 0 || item.parentId === 1">
          <a href="#">
            <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
            <span v-text="item.name"></span>
            <span class="pull-right-container">
              <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-for="child in item.children" v-bind:class="{active:child.path === currentPagePath}">
              <a href="javascript:void(0)" @click="goToPage(child.path, item.name)">
                <i class="fa fa-file-text-o">&numsp;</i>{{child.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <!--内容-->
  <section class="content-wrapper">
    <div class="content-header">
      <h1>网点上缴交接</h1>
    </div>
    <div class="content">
      <ol class="breadcrumb" style="border-radius: 0;">
        <li v-bind:class="{'breadcrumb-active':part1}">
          <a href="javascript:void(0)" disabled>押运员验证</a>
        </li>
        <li v-bind:class="{'breadcrumb-active':part2}">
          <a href="javascript:void(0)" disabled>尾箱清点/交接</a>
        </li>
        <li v-bind:class="{'breadcrumb-active':part3}">
          <a href="javascript:void(0)">交接完成</a>
        </li>
      </ol>
      <div title="押运员验证界面" v-show="part1">
        <div class="row">
          <div class="col-md-6">
            <div class="box box-primary box-solid box-flat">
              <div class="box-header with-border">
                <div class="box-title">指纹验证</div>
              </div>
              <div class="box-body">
                <div>
                  <button class="btn btn-default btn-flat btn-block">点击验证</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box box-primary box-solid box-flat">
              <div class="box-header with-border">
                <div class="box-title">密码验证</div>
              </div>
              <div class="box-body">
                <div>
                  <div class="input-group">
                    <input class="form-control" type="password" placeholder="请输入密码" v-model="pswd">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-flat" @click="checkSupercargo()">验证</button>
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box box-primary box-solid box-flat" v-show="isOpenPart2">
          <div class="box-header">
            <div class="box-title">押运员：</div>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-md-4">
                <a href="#" class="thumbnail">
                  <img src="../../dist/img/user2-160x160.jpg" alt="押运员-头像">
                </a>
                <div class="caption">
                  <div class="text-muted" style="text-align: center">押运员姓名</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-success btn-flat btn-block" v-bind:disabled="!isOpenPart2" @click="showPart(2)">
          获取任务列表
        </button>
      </div>
      <div title="任务界面" v-show="part2">
        <div class="row">
          <div class="col-md-3">
            <button class="btn btn-primary btn-flat btn-block" v-bind:disabled="turnInTaskBoxes.length === 0"
                    @click="checkBoxes()">清点尾箱
            </button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary btn-flat btn-block" v-bind:disabled="!checkResult.success"
                    @click="handlerException()">处理异常
            </button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-success btn-flat btn-block" v-bind:disabled="checkResult.data.hasException"
                    @click="handoverBoxes()">确认交接
            </button>
          </div>
          <!--<div class="col-md-3">-->
          <!--<button class="btn btn-primary btn-flat btn-block">按钮</button>-->
          <!--</div>-->
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="box box-solid box-primary box-flat">
              <div class="box-header">
                <div class="box-title" v-text="'待押运尾箱列表'+turnInTaskBoxes.length+'个'"></div>
              </div>
              <div class="box-body">
                <table class="table table-bordered table-striped table-striped table-hover">
                  <tr>
                    <th>序号</th>
                    <th>尾箱编号</th>
                    <th>申请机构</th>
                    <th>目标机构</th>
                  </tr>
                  <tr v-for="(box, index) in turnInTaskBoxes">
                    <td v-text="index + 1"></td>
                    <td v-text="box.boxOuterCode"></td>
                    <td v-text="showBankName(box.applyBankCode)"></td>
                    <td v-text="showBankName(box.targetBankCode)"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6" v-show="checkResult.success">
            <div class="box box-solid box-flat"
                 v-bind:class="{'box-danger':checkResult.data.hasException,'box-primary':!checkResult.data.hasException}">
              <div class="box-header">
                <div class="box-title" v-text="'交接区已清点出的尾箱列表：'+checkResult.data.hasException?'有异常':'没有异常'"></div>
              </div>
              <div class="box-body">
                <table class="table table-bordered table-striped table-striped table-hover">
                  <tr>
                    <th>序号</th>
                    <th>尾箱编号</th>
                    <th>尾箱内置编号</th>
                    <th>是否异常</th>
                    <th>异常编号</th>
                    <th>说明</th>
                  </tr>
                  <tr v-for="(box, index) in checkResult.data.boxes" v-bind:class="{'danger' : box.hasException}">
                    <td v-text="index + 1"></td>
                    <td v-text="showBoxOuterCode(box.code)"></td>
                    <td v-text="box.code"></td>
                    <td v-text="box.hasException ? '异常' : '正常'"></td>
                    <td v-text="box.exceptionType"></td>
                    <td v-text="box.memo"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div title="结果界面" v-show="part3">
        <div>
          <div class="box box-solid box-flat"
               v-bind:class="{'box-danger':handoverResult.data.hasException,'box-primary':!handoverResult.data.hasException}">
            <div class="box-header">
              <div class="box-title">交接结果列表</div>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped table-striped table-hover">
                <tr>
                  <th>序号</th>
                  <th>尾箱编号</th>
                  <th>尾箱内置编号</th>
                  <th>是否异常</th>
                  <th>异常编号</th>
                  <th>说明</th>
                </tr>
                <tr v-for="(box, index) in handoverResult.data.boxes" v-bind:class="{'danger' : box.hasException}">
                  <td v-text="index + 1"></td>
                  <td v-text="showBoxOuterCode(box.code)"></td>
                  <td v-text="box.code"></td>
                  <td v-text="box.hasException ? '异常' : '正常'"></td>
                  <td v-text="box.exceptionType"></td>
                  <td v-text="box.memo"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../bower_components/vue/dist/vue.js"></script>
<script src="../../dist/js/pages/bvms-constant.js"></script>
<script src="../../dist/js/pages/bvms-system.js"></script>
<script src="../../dist/js/pages/module.js"></script>
<script>
  new Vue({
    el: '#app',
    mounted: function () {
      if (this.loginUser === null) {
        window.location.href = '../system/bvms-login.html';
      }
      const that = this;
      slide.getModule(this.loginUser.id, this.loginUser.loginName, function (module) {
        that.parentModuleAvailable = module;
      });
      this.getBank();
      this.getBox();
      this.getTurnInTaskBoxes();
    },
    data: {
      loginUser: JSON.parse(sessionStorage.getItem('loginUser')),
      currentPageParentName: sessionStorage.getItem('parentName'),
      currentPagePath: sessionStorage.getItem('path'),
      parentModuleAvailable: [],
      part1: true,
      part2: false,
      part3: false,
      pswd: null,
      isOpenPart2: false,
      banks: [],
      boxes: [],
      // 位置类型：0-网点，1-押运途中，2-金库。用于处理【场景错误异常】
      site: 0,
      // 交际类型：1-离开金库，2-进入金库，3-离开网点，4-进入网点。
      handoverType: 3,
      turnInTaskBoxes: [],
      checkResult: {
        success: false,
        message: null,
        code: null,
        total: null,
        data: {
          boxes: [],
          handoverType: null,
          memo: null,
          locatorCode: null,
          hasException: true,
        }
      },
      handoverResult: {
        success: false,
        message: null,
        code: null,
        total: null,
        data: {
          boxes: [],
          handoverType: null,
          memo: null,
          locatorCode: null,
          hasException: true,
        }
      },
    },
    methods: {
      goToPage: function (path, parentName) {
        route.goToPage(path, parentName);
      },
      getBank: function () {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'bank/all',
          type: 'get',
          success: function (data) {
            if (data.isSuccess) {
              that.banks = data.result;
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      showBoxOuterCode: function (innerCode) {
        let outerCode = this.turnInTaskBoxes.filter(function (box) {
          if (innerCode.toString() === box.boxInnerCode) {
            return box;
          }
        });
        if (outerCode.length === 0) {
          return '';
        } else {
          return outerCode[0].boxOuterCode;
        }
      },
      getBox: function () {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'box/all',
          type: 'get',
          success: function (data) {
            if (data.isSuccess) {
              that.boxes = data.result;
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      checkSupercargo: function () {
        let that = this;
        if (that.pswd === that.loginUser.password) {
          that.isOpenPart2 = true;
        } else {
          alert('密码错误，请重新输入！');
        }
      },
      showPart: function (part) {
        let that = this;
        switch (part) {
          case 1:
            that.part1 = true;
            that.part2 = false;
            that.part3 = false;
            break;
          case 2:
            that.part1 = false;
            that.part2 = true;
            that.part3 = false;
            break;
          case 3:
            that.part1 = false;
            that.part2 = false;
            that.part3 = true;
            break;
          default:
            break
        }
      },
      getTurnInTaskBoxes: function () {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'task/taskInfo' +
            '?departmentCode=' + that.loginUser.departmentCode +
            '&taskType=' + '1' +
            '&process=' + '4',
          type: 'get',
          success: function (data) {
            if (data.isSuccess) {
              that.turnInTaskBoxes = JSON.parse(data.result);
            } else {
              console.log(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      checkBoxes: function () {
        let that = this;
        that.checkResult = {
          success: false,
          message: null,
          code: null,
          total: null,
          data: {
            boxes: [],
            handoverType: null,
            memo: null,
            locatorCode: null,
            hasException: true,
          }
        };
        let codes = [];
        that.turnInTaskBoxes.forEach(function (box) {
          codes.push(box.boxInnerCode);
        });
        let data = {
          handoverType: that.handoverType,
          codes: codes.toString(),
        };
        $.ajax({
          url: getUrlLocal() + 'cmd/' + that.loginUser.departmentCode + '/boxesCheck',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: function (data) {
            if (data.isSuccess) {
              that.checkResult = JSON.parse(data.result);
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      handlerException: function () {
        let that = this;
        if (!that.checkResult.data.hasException) {
          alert('没有异常情况需要处理！');
          return;
        }
        let boxesException = that.checkResult.data.boxes.map(function (box) {
          box.site = that.site;
          box.handoverType = that.handoverType;
          return box;
        });
        $.ajax({
          url: getUrlLocal() + 'cmd/' + that.loginUser.departmentCode + '/boxesHandleExceptionAll',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify(boxesException),
          success: function (data) {
            if (data.isSuccess) {
              that.checkResult = JSON.parse(data.result);
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });

      },
      handoverBoxes: function () {
        let that = this;
        let codes = [];
        that.turnInTaskBoxes.forEach(function (box) {
          codes.push(box.boxInnerCode);
        });
        let data = {
          handoverType: that.handoverType,
          codes: codes.toString(),
          isAlarm: true,
          arriveTimes: 20,
          leaveTimes: 20,
          expectTimes: 60
        };
        $.ajax({
          url: getUrlLocal() + 'cmd/' + that.loginUser.departmentCode + '/boxesHandover',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: function (data) {
            if (data.isSuccess) {
              that.handoverResult = JSON.parse(data.result);
              if (that.handoverResult.success) {
                that.showPart(3);
                that.updateTask();
                that.updateBoxes();
              }
            } else {
              alert(data.result);
            }
            alert('交接完毕！');
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      showBankName: function (code) {
        let that = this;
        let names = that.banks.filter(function (bank) {
          if (bank.code === code) {
            return bank;
          }
        });
        return names[0].name;
      },
      updateTask: function () {
        let that = this;
        let taskCodes = that.turnInTaskBoxes.map(function (box) {
          return box.code;
        });
        let info = {
          process: 6,
          loginName: that.loginUser.loginName,
          id: that.loginUser.id,
          taskCodes: taskCodes.toString(),
        };
        $.ajax({
          url: getUrlLocal() + 'task/turnInHandoverAll',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify(info),
          success: function (data) {
            if (data.isSuccess) {
              // alert(data.result);
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      updateBoxes: function () {
        let that = this;
        let boxOuterCodes = that.turnInTaskBoxes.map(function (box) {
          return box.boxOuterCode;
        });
        let info = {
          currentBankCode: '押运途中',
          locationId: 1,
          locationName: '押运途中',
          boxOuterCodes: boxOuterCodes.toString(),
        };
        $.ajax({
          url: getUrlLocal() + 'box/handoverBox',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify(info),
          success: function (data) {
            if (data.isSuccess) {
              console.log(data.result);
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },

    }

  })
</script>

</body>
</html>

















































