<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>图表测试</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../dist/css/bvms.css">
</head>

<!--body里面的class一定要设置样式，不然是白色的-->
<body class="hold-transition skin-blue sidebar-mini">
<div id="app" class="wrapper">

  <!--顶部导航栏-->
  <header class="main-header">
    <a href="../index/bvms-index.html" class="logo">
      <span class="logo-mini">BVMS</span>
      <span class="logo-lg"><b>金库管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!--切换按钮（左侧的菜单栏的收缩与展开）-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">&numsp;</a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="javascript:void(0)" onclick="route.logout()"><i class="fa fa-sign-out" title="退出登录">&numsp;</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!--左边的菜单栏-->
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p v-text="loginUser.loginName"></p>
          <a href="#"><i class="fa fa-circle text-success">&numsp;</i>{{loginUser.name}}</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="font-size: large">主菜单</li>
        <li v-bind:class="{treeview:item.children.length > 0, active:item.name === currentPageParentName}"
            v-for="item in parentModuleAvailable"
            v-if="item.type === 0 || item.parentId === 1">
          <a href="#">
            <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
            <span v-text="item.name"></span>
            <span class="pull-right-container">
              <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-for="child in item.children" v-bind:class="{active:child.path === currentPagePath}">
              <a href="javascript:void(0)" @click="goToPage(child.path, item.name)">
                <i class="fa fa-file-text-o">&numsp;</i>{{child.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <!--内容-->
  <section class="content-wrapper">
    <div class="content-header">
      <h1>图表测试</h1>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <div class="box-title">本网点上缴统计（上周）</div>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" @click="getWeekTurnInTask(1)">
                  <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="lastWeekTurnin"></canvas>
              </div>
            </div>
            <div class="box-footer">底部</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <div class="box-title">本网点上缴统计（本周）</div>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" @click="getWeekTurnInTask(1)">
                  <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="currentWeekTurnin"></canvas>
              </div>
            </div>
            <div class="box-footer">底部</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <div class="box-title">混合图</div>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" @click="loadChart1()">
                  <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="chart1"></canvas>
              </div>
            </div>
            <div class="box-footer">底部</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <div class="box-title">圆饼图</div>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" @click="loadChart2()">
                  <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="chart2"></canvas>
              </div>
            </div>
            <div class="box-footer">底部</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">曲线图</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" @click="loadChart3()">
                  <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="chart3"></canvas>
              </div>
            </div>
            <div class="box-footer">底部</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">雷达图</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" @click="loadChart4()">
                  <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="chart4"></canvas>
              </div>
            </div>
            <div class="box-footer">底部</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">极区表</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" @click="loadChart5()">
                  <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="chart5"></canvas>
              </div>
            </div>
            <div class="box-footer">底部</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">泡泡图</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" @click="loadChart6()">
                  <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="chart6"></canvas>
              </div>
            </div>
            <div class="box-footer">底部</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">散点图</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" @click="loadChart7()">
                  <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="chart7"></canvas>
              </div>
            </div>
            <div class="box-footer">底部</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">。。。</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" @click="loadChart8()">
                  <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="chart8"></canvas>
              </div>
            </div>
            <div class="box-footer">底部</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 1996-2019 <a href="http://www.gooao.cn/">古鳌电子科技股份有限公司</a>.</strong> All rights
    reserved.
  </footer>
</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../bower_components/chart.js/dist/Chart.min.js"></script>
<script src="../../bower_components/vue/dist/vue.js"></script>
<script src="../../dist/js/pages/bvms-constant.js"></script>
<script src="../../dist/js/pages/bvms-system.js"></script>
<script src="../../dist/js/pages/module.js"></script>
<script>
  new Vue({
    el: '#app',
    mounted: function () {
      if (this.loginUser === null) {
        window.location.href = '../system/bvms-login.html';
      }
      const that = this;
      slide.getModule(this.loginUser.id, this.loginUser.loginName, function (module) {
        that.parentModuleAvailable = module;
        console.log(module);
      });
      this.getWeekTurnInTask(1);
      this.loadChart1();
      this.loadChart2();
      this.loadChart3();
      this.loadChart4();
      this.loadChart5();
      this.loadChart6();
      this.loadChart7();
      this.loadChart8();
    },
    data: {
      loginUser: JSON.parse(sessionStorage.getItem('loginUser')),
      currentPageParentName: sessionStorage.getItem('parentName'),
      currentPagePath: sessionStorage.getItem('path'),
      parentModuleAvailable: [],
      labels: ['周一', '周二', '周三', '周四', '周五', '周六', '周天'],
      lastWeekTurnInTask: [],
      currentWeekTurnInTask: [],
      data: [10, 20, 30, 40, 50, 80, 70],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 159, 255, 0.2)'
      ],
      borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255, 159, 255, 1)',
      ],
      borderWidth: 1,
    },
    methods: {
      goToPage: function (path, parentName) {
        route.goToPage(path, parentName);
      },
      getWeekTurnInTask: function (type) {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'statistics/weekTurnInTask/'+ that.loginUser.departmentCode +'/'+ type,
          type: 'get',
          success: function (data) {
            if (data.isSuccess) {
              that.currentWeekTurnInTask = JSON.parse(data.result);
              that.currentWeekTurninChart();
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      lastWeekTurninChart: function () {
        let ctx = document.getElementById("lastWeekTurnin").getContext('2d');
        let chartData = [];
        this.lastWeekTurnInTask.forEach(function (item) {
          chartData.push(item.length);
        });
        console.log(chartData);
        let content = {
          type: 'bar',
          data: {
            labels: this.labels,
            datasets: [
              {
                label: '上缴任务数量（以箱子为单位）',
                type: 'bar',
                data: chartData,
                backgroundColor: this.backgroundColor,
                borderColor: this.borderColor,
                borderWidth: this.borderWidth,
              },
              {
                type: 'line',
                label: '曲线图',
                data: chartData,
                backgroundColor: '#0000ff00',
                borderColor: '#0000ff',
                borderWidth: this.borderWidth,
              }
            ],
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        };
        new Chart(ctx, content);
      },
      currentWeekTurninChart: function () {
        let ctx = document.getElementById("currentWeekTurnin").getContext('2d');
        let chartData = [];
        this.currentWeekTurnInTask.forEach(function (item) {
          chartData.push(item.length);
        });
        console.log(chartData);
        let content = {
          type: 'bar',
          data: {
            labels: this.labels,
            datasets: [
              {
                label: '上缴任务数量（以箱子为单位）',
                type: 'bar',
                data: chartData,
                backgroundColor: this.backgroundColor,
                borderColor: this.borderColor,
                borderWidth: this.borderWidth,
              },
              {
                type: 'line',
                label: '曲线图',
                data: chartData,
                backgroundColor: '#0000ff00',
                borderColor: '#0000ff',
                borderWidth: this.borderWidth,
              }
            ],
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        };
        new Chart(ctx, content);
      },
      loadChart1: function () {
        let ctx = document.getElementById("chart1").getContext('2d');
        let content = {
          type: 'bar',
          data: {
            labels: this.labels,
            datasets: [
              {
                label: '柱状图',
                type: 'bar',
                data: this.data,
                backgroundColor: this.backgroundColor,
                borderColor: this.borderColor,
                borderWidth: this.borderWidth,
              },
              // {
              //   type: 'line',
              //   label: '曲线图',
              //   data: this.data,
              //   backgroundColor: '#0000ff00',
              //   borderColor: '#0000ff',
              //   borderWidth: this.borderWidth,
              // }
            ],
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        };
        new Chart(ctx, content);
      },
      loadChart2: function () {
        let ctx = $("#chart2").get(0).getContext('2d');
        let content = {
          type: 'doughnut',
          data: {
            labels: this.labels,
            datasets: [{
              label: '圆饼图',
              data: this.data,
              backgroundColor: this.backgroundColor,
              borderColor: this.borderColor,
              hoverBackgroundColor: this.borderColor,
              hoverBorderColor: this.borderColor,
              borderWidth: 1,
              hoverBorderWidth: 1,
            }],
          },
          option: {
            scales: {
              display: false,
              yAxes: [{
                stacked: true,
              }, {
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          },
        };
        new Chart(ctx, content);
      },
      loadChart3: function () {
        let ctx = $("#chart3").get(0).getContext('2d');
        let content = {
          type: 'line',
          data: {
            labels: this.labels,
            datasets: [{
              label: '曲线图',
              data: this.data,
              backgroundColor: '#0000ff11',
              borderColor: '#0000ff',
              borderWidth: 1,
            }],
          },
          options: {
            scales: {
              yAxes: [{
                stacked: true,
              }]
            }
          }
        };
        new Chart(ctx, content);
      },
      loadChart4: function () {
        let ctx = $("#chart4").get(0).getContext('2d');
        let content = {
          type: 'radar',
          data: {
            labels: this.labels,
            datasets: [
              {
                label: '雷达图1',
                type: 'radar',
                data: this.data,
                backgroundColor: '#0000ff11',
                borderColor: '#0000ff',
                borderWidth: 1,
                fill: true,
              },
              {
                label: '雷达图2',
                type: 'radar',
                data: [3, 90, 30, 40, 40, 80, 80],
                backgroundColor: '#ff000011',
                borderColor: '#ff0000',
                borderWidth: 1,
                fill: true,
              }
            ]

          },
          option: {
            scales: {
              display: false,
              yAxes: [{
                stacked: true,
              }, {
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          },
        };
        new Chart(ctx, content);
      },
      loadChart5: function () {
        let ctx = $("#chart5").get(0).getContext('2d');
        let content = {
          type: 'polarArea',
          data: {
            labels: this.labels,
            datasets: [
              {
                label: '极区图',
                type: 'polarArea',
                data: this.data,
                backgroundColor: this.backgroundColor,
                borderColor: this.borderColor,
                borderWidth: [1, 1, 1, 1, 1, 1, 1],
              },
            ]
          },
          option: {},
        };
        new Chart(ctx, content);
      },
      loadChart6: function () {
        let ctx = $("#chart6").get(0).getContext('2d');
        let content = {
          type: 'bubble',
          data: {
            labels: this.labels,
            datasets: [
              {
                label: '泡泡图',
                type: 'bubble',
                data: [{
                  x: this.data[1],
                  y: this.data[2],
                  r: 20,
                }, {
                  x: this.data[3],
                  y: this.data[3],
                  r: 5,
                }, {
                  x: this.data[4],
                  y: this.data[5],
                  r: 20,
                }, {
                  x: this.data[6],
                  y: this.data[5],
                  r: 16,
                }, {
                  x: this.data[3],
                  y: this.data[6],
                  r: 18,
                }, {
                  x: this.data[0],
                  y: this.data[2],
                  r: 30,
                }, {
                  x: this.data[6],
                  y: this.data[0],
                  r: 40,
                },],
                backgroundColor: 'rgba(255, 159, 255, 0.2)',
                borderColor: 'rgba(255, 159, 255, 1)',
                borderWidth: 1,
                radius: 10,
              },
            ]
          },
          option: {},
        };
        new Chart(ctx, content);
      },
      loadChart7: function () {
        let ctx = $("#chart7").get(0).getContext('2d');
        let content = {
          type: 'scatter',
          data: {
            labels: this.labels,
            datasets: [
              {
                label: '散点图',
                type: 'scatter',
                data: [{
                  x: this.data[1],
                  y: this.data[2],
                }, {
                  x: this.data[3],
                  y: this.data[3],
                }, {
                  x: this.data[4],
                  y: this.data[5],
                }, {
                  x: this.data[6],
                  y: this.data[5],
                }, {
                  x: this.data[3],
                  y: this.data[6],
                }, {
                  x: this.data[0],
                  y: this.data[2],
                }, {
                  x: this.data[6],
                  y: this.data[0],
                },],
                backgroundColor: 'rgba(0, 109, 255, 0.2)',
                borderColor: 'rgba(0, 109, 255, 1)',
                borderWidth: 1,
              },
            ]
          },
          option: {},
        };
        new Chart(ctx, content);
      },
      loadChart8: function () {
        let ctx = $("#chart8").get(0).getContext('2d');
        let content = {
          type: '',
          data: {},
          option: {},
        };
        new Chart(ctx, content);
      },
    }
  })
</script>

</body>
</html>

















































