<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>尾箱实时信息（腾帜）</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../dist/css/bvms.css">
</head>

<!--body里面的class一定要设置样式，不然是白色的-->
<body class="hold-transition skin-blue sidebar-mini">
<div id="app" class="wrapper">

  <!--顶部导航栏-->
  <header class="main-header">
    <a href="../index/bvms-index.html" class="logo">
      <span class="logo-mini">BVMS</span>
      <span class="logo-lg"><b>金库管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!--切换按钮（左侧的菜单栏的收缩与展开）-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">&numsp;</a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="javascript:void(0)" onclick="logout()"><i class="fa fa-sign-out" title="退出登录">&numsp;</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!--左边的菜单栏-->
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p v-text="loginUser.loginName"></p>
          <a href="#"><i class="fa fa-circle text-success">&numsp;</i>{{loginUser.name}}</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="font-size: large">主菜单</li>
        <li v-bind:class="{treeview:item.children.length > 0}" v-for="item in parentModuleAvailable"
            v-if="item.type === 0 || item.parentId === 1">
          <a href="#">
            <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
            <span v-text="item.name"></span>
            <span class="pull-right-container">
              <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-for="child in item.children">
              <a v-bind:href="child.path">
                <i class="fa fa-file-text-o">&numsp;</i>{{child.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <!--内容-->
  <section class="content-wrapper">
    <div class="content-header">
      <h1>尾箱实时信息（腾帜）</h1>
      <br>
      <button class="btn btn-primary btn-flat" @click="getTzBox()">获取信息</button>
    </div>
    <div class="content">
      <div class="box box-solid box-primary box-flat">
        <div class="box-header">
          <div class="box-title">当前定位器下的尾箱实时信息列表</div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-hover table-striped">
            <tr>
              <th>序号</th>
              <th>内置编号</th>
              <th>位置</th>
              <th>电压</th>
              <th>硬件版本</th>
              <th>软件版本</th>
              <th>是否关闭</th>
              <th>是否上锁</th>
              <th>是否移动</th>
              <th>是否损坏</th>
              <th>是否被监控</th>
              <th>操作记录数</th>
              <th>是否异常</th>
              <th>说明</th>
            </tr>
            <tr v-for="(tzBox, index) in tzBoxes">
              <td v-text="index + 1"></td>
              <td v-text="tzBox.data.code"></td>
              <td v-text="showSite(tzBox.data.site)"></td>
              <td v-text="tzBox.data.voltage + 'V'"></td>
              <td v-text="tzBox.data.hardVersion"></td>
              <td v-text="tzBox.data.softVersion"></td>
              <td v-text="tzBox.data.isClosed?'是':'否'"></td>
              <td v-text="tzBox.data.isLocked?'是':'否'"></td>
              <td v-text="tzBox.data.isMoved?'是':'否'"></td>
              <td v-text="tzBox.data.isBroken?'是':'否'"></td>
              <td v-text="tzBox.data.isMonitor?'是':'否'"></td>
              <td v-text="tzBox.data.recordCount"></td>
              <td v-text="tzBox.data.hasException?'是':'否'"></td>
              <td v-text="tzBox.data.memo"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../bower_components/vue/dist/vue.js"></script>
<script src="../../dist/js/pages/bvms-constant.js"></script>
<script src="../../dist/js/pages/bvms-system.js"></script>
<script>
  new Vue({
    el: '#app',
    mounted: function () {
      if (this.loginUser === null) {
        window.location.href = '../system/bvms-login.html';
      }
      this.getModule();
    },
    data: {
      loginUser: JSON.parse(sessionStorage.getItem('loginUser')),
      parentModuleAvailable: [],
      tzBoxes: [],
    },
    methods: {
      getModule: function () {
        let that = this;
        let url = getUrlLocal() + 'system_module/all' + '?loginName=' + that.loginUser.loginName + '&id=' +
          that.loginUser.id;
        if (that.loginUser.loginName === 'system') {
          url = getUrlLocal() + 'system_module/allModule';
        }
        $.ajax({
          url: url,
          type: 'GET',
          success: function (data) {
            if (data.isSuccess) {
              that.parentModuleAvailable = data.result.filter(function (vaule) {
                if (vaule.isAvailable === 1) {
                  let children = data.result.filter(function (item) {
                    if (item.parentId === vaule.id && item.isAvailable === 1) {
                      return item;
                    }
                  });
                  return vaule['children'] = children;
                }
              });
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      getTzBox: function () {
        let that = this;
        that.tzBoxes = [];
        $.ajax({
          url: getUrlLocal() + 'box/allTzBoxes',
          type: 'get',
          success: function (data) {
            if (data.isSuccess) {
              that.tzBoxes = JSON.parse(data.result);
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      showSite: function (site) {
        let result;
        switch (site) {
          case 0:
            result = '网点';
            break;
          case 1:
            result = '途中';
            break;
          case 2:
            result = '金库';
            break;
          default:
            result = '';
            break
        }
        return result;
      }
    },


  })
</script>

</body>
</html>

















































