<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>尾箱管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../dist/css/bvms.css">
</head>

<!--body里面的class一定要设置样式，不然是白色的-->
<body class="hold-transition skin-blue sidebar-mini">
<div id="app" class="wrapper">

  <!--顶部导航栏-->
  <header class="main-header">
    <a href="../index/bvms-index.html" class="logo">
      <span class="logo-mini">BVMS</span>
      <span class="logo-lg"><b>金库管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!--切换按钮（左侧的菜单栏的收缩与展开）-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">&numsp;</a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="javascript:void(0)" onclick="route.logout()"><i class="fa fa-sign-out" title="退出登录">&numsp;</i></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <!--左边的菜单栏-->
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p v-text="loginUser.loginName"></p>
          <a href="#"><i class="fa fa-circle text-success">&numsp;</i>{{loginUser.name}}</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="font-size: large">主菜单</li>
        <li v-bind:class="{treeview:item.children.length > 0}" v-for="item in parentModuleAvailable"
            v-if="item.type === 0 || item.parentId === 1">
          <a href="#">
            <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
            <span v-text="item.name"></span>
            <span class="pull-right-container">
              <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-for="child in item.children">
              <a v-bind:href="child.path">
                <i class="fa fa-file-text-o">&numsp;</i>{{child.name}}
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </section>
  </aside>

  <!--内容-->
  <section class="content-wrapper">
    <div class="content-header">
      <h1>尾箱管理</h1>
      <br>
      <div class="btn-group">
        <button class="btn btn-success btn-flat" tabindex="-1"
                data-toggle="modal" data-target="#boxModal" @click="clearInputData()">添加尾箱
        </button>
        <button class="btn btn-info btn-flat" tabindex="-1"
                data-toggle="modal" data-target="#boxModal" @click="updateBox()">更新尾箱
        </button>
        <button class="btn btn-danger btn-flat" @click="deleteBox()">删除尾箱</button>
      </div>
      <button class="btn btn-warning btn-flat" tabindex="-1"
              data-toggle="modal" data-target="#boxModal" @click="updateBox(1)">分配尾箱
      </button>
    </div>
    <div class="content">
      <div class="box box-solid box-primary box-flat">
        <div class="box-header">
          <div class="box-title">
            尾箱列表
          </div>
          <!--用户添加更新模态框-->
          <div class="modal fade" style="color: #1b6d85" id="boxModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 style="display: inline">添加/修改尾箱</h3>
                  <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <span class="input-group-addon">外置编号</span>
                        <input type="text" class="form-control" title="外置编号" v-model="boxInput.outerCode">
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">尾箱位置</span>
                        <select class="form-control" title="尾箱类型" v-model.number="boxInput.locationId">
                          <option value="0">在网点</option>
                          <option value="1">押运途中</option>
                          <option value="2">在金库</option>
                        </select>
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">尾箱类型</span>
                        <select class="form-control" title="尾箱类型" v-model.number="boxInput.typeId">
                          <option value="1">业务箱</option>
                          <option value="2">寄存箱</option>
                          <option value="3">上缴箱</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <span class="input-group-addon">内置编号</span>
                        <input type="number" class="form-control" title="内置编号" v-model="boxInput.innerCode">
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">归属机构</span>
                        <select class="form-control" title="归属机构" v-model="boxInput.belongBankCode">
                          <option v-for="bank in banks" v-bind:value="bank.code" v-text="bank.name"></option>
                        </select>
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">所在机构</span>
                        <select class="form-control" title="尾箱当前所在机构" v-model="boxInput.currentBankCode">
                          <option v-for="bank in banks" v-bind:value="bank.code" v-text="bank.name"></option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">取消</button>
                  <button class="btn btn-primary" data-dismiss="modal" @click="addBox()">确定</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-hover table-striped table-bordered">
            <tr>
              <th>选择</th>
              <th>尾箱编号</th>
              <th>尾箱内置编号</th>
              <th>归属机构编号</th>
              <th>尾箱类型</th>
              <th>尾箱当前所在机构</th>
              <th>是否正常</th>
              <!--<th>是否启用</th>-->
            </tr>
            <tr v-for="(box, index) in boxes">
              <td><input type="checkbox" title="选择" v-bind:value="index" v-model="selectedBoxIndex"></td>
              <td v-text="box.outerCode"></td>
              <td v-text="box.innerCode"></td>
              <td v-text="box.belongBankCode"></td>
              <td v-text="box.typeId === 1 ? '业务箱' : '其他'"></td>
              <td v-text="box.currentBankCode"></td>
              <td v-text="box.hasException === 0 ? '正常' : '异常'"></td>
              <!--<td v-text="box.runStateName"></td>-->
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../bower_components/vue/dist/vue.js"></script>
<script src="../../dist/js/pages/bvms-constant.js"></script>
<script src="../../dist/js/pages/bvms-system.js"></script>
<script src="../../dist/js/pages/module.js"></script>
<script>
  new Vue({
    el: '#app',
    mounted: function () {
      if (this.loginUser === null) {
        window.location.href = '../system/bvms-login.html';
      }
      const that = this;
      slide.getModule(this.loginUser.id, this.loginUser.loginName, function (module) {
        that.parentModuleAvailable = module;
        console.log(module);
      });
      this.getBox();
      this.getBank();
    },
    data: {
      loginUser: JSON.parse(sessionStorage.getItem('loginUser')),
      parentModuleAvailable: [],
      boxes: [],
      banks: [],
      boxInput: {
        id: null,
        outerCode: null,
        innerCode: null,
        currentBankCode: null,
        belongBankCode: null,
        belongBankName: null,
        typeId: 1,
        typeName: null,
        locationId: 0,
        locationName: null,
        hasException: 0,
        exceptionType: null,
        exceptionDesc: null,
        runStateId: null,
        runStateName: null,
        activateTime: null,
        activateUserId: null,
        activateUserName: null,
        deactivateTime: null,
        deactivateUserId: null,
        deactivateUserName: null,
        deactivateDesc: null,
        damageTime: null,
        damageUserId: null,
        damageUserName: null,
        damageCheckUserId: null,
        damageCheckUserName: null,
        damageDesc: null,
        checkUserId: null,
        checkUserName: null,
        creatorId: null,
        creatorName: null,
        createTime: null,
        allotTime: null,
        isMonitor: null,
        baseStationCode: null,
      },
      selectedBoxIndex: [],
      deleteBoxId: [],
    },
    methods: {
      getBox: function () {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'box/all',
          type: 'GET',
          success: function (data) {
            if (data.isSuccess) {
              that.boxes = data.result;
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      getBank: function () {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'bank/all',
          type: 'get',
          success: function (data) {
            if (data.isSuccess) {
              that.banks = data.result;
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      addBox: function () {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'box/add',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify(that.boxInput),
          success: function (data) {
            if (data.isSuccess) {
              console.log('尾箱添加成功：' + data.result.toString());
              that.getBox();
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      updateBox: function (n) {
        let that = this;
        console.log(n);
        if (that.selectedBoxIndex.length > 1) {
          alert('不能同时更新多个尾箱！');
        } else if (that.selectedBoxIndex.length === 0) {
          alert('请选择一个尾箱！');
        } else {
          that.boxInput = that.boxes[that.selectedBoxIndex[0]];
        }
      },
      deleteBox: function () {
        let that = this;
        if (that.selectedBoxIndex.length === 0) {
          alert("请至少选择一个尾箱");
        } else {
          that.selectedBoxIndex.forEach(function (item) {
            if (!that.deleteBoxId.includes(that.boxes[item].id)) {
              that.deleteBoxId.push(that.boxes[item].id);
            }
          });
          let ids = that.deleteBoxId.toString();
          console.log('要删除的尾箱的id：' + ids);
          $.ajax({
            url: getUrlLocal() + 'box/del/' + ids,
            type: 'post',
            success: function (data) {
              if (data.isSuccess) {
                console.log('请求成功，信息：' + data.result);
                that.getBox();
                that.selectedBoxIndex = [];
                that.deleteBoxId = [];
              } else {
                alert(data.result);
              }
            },
            error: function () {
              alert('与服务器通信失败，请联系管理员');
            }
          });
        }
      },
      clearInputData: function () {
        this.boxInput = {
          id: null,
          outerCode: null,
          innerCode: null,
          currentBankCode: this.loginUser.departmentCode,
          belongBankCode: this.loginUser.departmentCode,
          belongBankName: null,
          typeId: 1,
          typeName: null,
          locationId: 0,
          locationName: null,
          hasException: 0,
          exceptionType: null,
          exceptionDesc: null,
          runStateId: null,
          runStateName: null,
          activateTime: null,
          activateUserId: null,
          activateUserName: null,
          deactivateTime: null,
          deactivateUserId: null,
          deactivateUserName: null,
          deactivateDesc: null,
          damageTime: null,
          damageUserId: null,
          damageUserName: null,
          damageCheckUserId: null,
          damageCheckUserName: null,
          damageDesc: null,
          checkUserId: null,
          checkUserName: null,
          creatorId: null,
          creatorName: null,
          createTime: null,
          allotTime: null,
          isMonitor: null,
          baseStationCode: null,
        }
      }
    }

  })
</script>

</body>
</html>

















































