<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>用户管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../dist/css/bvms.css">
</head>

<!--body里面的class一定要设置样式，不然是白色的-->
<body class="hold-transition skin-blue sidebar-mini">
<div id="app" class="wrapper">

  <!--顶部导航栏-->
  <header class="main-header">
    <a href="../index/bvms-index.html" class="logo">
      <span class="logo-mini">BVMS</span>
      <span class="logo-lg"><b>金库管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!--切换按钮（左侧的菜单栏的收缩与展开）-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">&numsp;</a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="javascript:void(0)" onclick="logout()"><i class="fa fa-sign-out" title="退出登录">&numsp;</i></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <!--左边的菜单栏-->
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{loginUser.loginName}}</p>
          <a href="#"><i class="fa fa-circle text-success">&numsp;</i>{{loginUser.name}}</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="font-size: large">主菜单</li>
        <li v-bind:class="{treeview:item.children.length > 0}" v-for="item in parentModuleAvailable"
            v-if="item.type === 0 || item.parentId === 1">
          <a href="#">
            <i class="fa fa-folder" v-bind:class="{'fa-file-text-o' : item.type === 1}">&numsp;</i>
            <span>{{item.name}}</span>
            <span class="pull-right-container">
              <i class="fa pull-right" v-bind:class="{'fa-angle-left':item.children.length > 0}">&numsp;</i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-for="child in item.children">
              <a v-bind:href="child.path">
                <i class="fa fa-file-text-o">&numsp;</i>{{child.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <!--内容-->
  <section class="content-wrapper">
    <div class="content-header">
      <h1>用户管理</h1>
      <br>
      <div class="btn-group">
        <button class="btn btn-success btn-flat" tabindex="-1"
                data-toggle="modal" data-target="#userModal" @click="clearInputData()">添加用户
        </button>
        <button class="btn btn-info btn-flat" tabindex="-1"
                data-toggle="modal" data-target="#userModal" @click="updateUser()">更新用户
        </button>
        <button class="btn btn-danger btn-flat" @click="deleteUser()">删除用户</button>
      </div>
      <button class="btn btn-warning btn-flat" tabindex="-1"
              data-toggle="modal" data-target="#userAllotRoleModal" @click="updateUser(1)">分配角色
      </button>
    </div>
    <div class="content">
      <div class="box box-solid box-primary box-flat">
        <div class="box-header">
          <div class="box-title">
            用户列表
          </div>
          <!--用户添加更新模态框-->
          <div class="modal fade" style="color: #1b6d85" id="userModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 style="display: inline">添加/修改用户</h3>
                  <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <span class="input-group-addon">登录名</span>
                        <input type="text" class="form-control" title="请输入登录名" v-model="userInput.loginName">
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">密码</span>
                        <input type="password" class="form-control" title="请输入密码" v-model="userInput.password">
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">手机号</span>
                        <input type="text" class="form-control" title="请输入手机号" v-model="userInput.phone">
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">隶属机构</span>
                        <select class="form-control" title="选择隶属机构" v-model="userInput.departmentCode">
                          <option v-for="bank in banks" v-bind:value="bank.code">{{bank.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <span class="input-group-addon">姓名</span>
                        <input type="text" class="form-control" title="请输入姓名" v-model="userInput.name">
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">Email</span>
                        <input type="email" class="form-control" title="请输入Email" v-model="userInput.email">
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">头像</span>
                        <input type="file" class="form-control" title="请选择头像图片上传">
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">是否可用</span>
                        <select class="form-control" title="是否可用" v-model.number="userInput.isAvailable">
                          <option value="1">可用</option>
                          <option value="0">不可用</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">取消</button>
                  <button class="btn btn-primary" data-dismiss="modal" @click="addUser()">确定</button>
                </div>
              </div>
            </div>
          </div>
          <!--用户分配角色模态框-->
          <div class="modal fade" style="color: #1b6d85" id="userAllotRoleModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 style="display: inline">查看/修改用户角色</h3>
                  <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <span class="input-group-addon">登录名</span>
                        <input type="text" class="form-control" title="登录名" v-model="userInput.loginName"
                               disabled>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <span class="input-group-addon">隶属机构</span>
                        <input type="text" class="form-control" title="隶属机构" v-model="userInput.departmentCode"
                               disabled>
                      </div>
                    </div>
                  </div>
                  <br>
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-info" style="font-size: 20px">角色列表</li>
                    <li class="list-group-item" v-for="role in roles" @click="selectRole(role.id)">
                      {{role.name}}
                      <span class="fa fa-check pull-right" v-if="selectedRoleId.includes(role.id)">&numsp;</span>
                    </li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">取消</button>
                  <button class="btn btn-primary" data-dismiss="modal" @click="addRoleToUser()">确定</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-hover table-striped table-bordered">
            <tr>
              <th>选择</th>
              <th>用户登录名</th>
              <th>用户真实姓名</th>
              <th>隶属机构编号</th>
              <th>手机号码</th>
              <th>email</th>
              <th>上次登录时间</th>
            </tr>
            <tr v-for="(user, index) in users">
              <td><input type="checkbox" title="选择" v-bind:value="index" v-model="selectedUserIndex"></td>
              <td>{{user.loginName}}</td>
              <td>{{user.name}}</td>
              <td>{{user.departmentCode}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.email}}</td>
              <td>{{user.lastLoginTime}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../bower_components/vue/dist/vue.js"></script>
<script src="../../dist/js/pages/bvms-constant.js"></script>
<script src="../../dist/js/pages/bvms-system.js"></script>
<script>
  new Vue({
    el: '#app',
    mounted: function () {
      if (this.loginUser === null) {
        window.location.href = 'bvms-login.html';
      }
      this.getModule();
      this.getUser();
      this.getRole();
      this.getBank();
    },
    data: {
      loginUser: JSON.parse(sessionStorage.getItem('loginUser')),
      sessionStorageValue: '',
      parentModuleAvailable: [],
      users: [],
      roles: [],
      banks: [],
      selectedRoleId: [],
      isActive: false,
      userInput: {
        createTime: null,
        departmentId: null,
        departmentCode: null,
        departmentName: null,
        email: null,
        fingerprintId: null,
        id: null,
        imgPath: null,
        isAvailable: 1,
        lastLoginTime: null,
        loginName: null,
        name: null,
        password: null,
        phone: null,
      },
      selectedUserIndex: [],
      deleteUserId: [],
    },
    methods: {
      getModule: function () {
        let that = this;
        let url = getUrlLocal() + 'system_module/all' + '?loginName=' + that.loginUser.loginName + '&id=' +
          that.loginUser.id;
        if (that.loginUser.loginName === 'system') {
          url = getUrlLocal() + 'system_module/allModule';
        }
        $.ajax({
          url: url,
          type: 'GET',
          success: function (data) {
            if (data.isSuccess) {
              that.parentModuleAvailable = data.result.filter(function (vaule) {
                if (vaule.isAvailable === 1) {
                  let children = data.result.filter(function (item) {
                    if (item.parentId === vaule.id && item.isAvailable === 1) {
                      return item;
                    }
                  });
                  return vaule['children'] = children;
                }
              });
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      getRole: function () {
        let that = this;
        $.ajax({
          url: getIpLocal() + getPort() + getPath() + 'system_role/all',
          type: 'GET',
          success: function (data) {
            if (data.isSuccess) {
              that.roles = data.result;
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      getUser: function () {
        let that = this;
        $.ajax({
          url: getUrlLocal() + 'system_user/all',
          type: 'get',
          // xhrFields: {withCredentials: true},
          success: function (data) {
            if (data.isSuccess) {
              that.users = data.result;
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      getBank: function () {
        let that = this;
        $.ajax({
          url: getIpLocal() + getPort() + getPath() + 'bank/all',
          type: 'get',
          success: function (data) {
            if (data.isSuccess) {
              that.banks = data.result;
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      addUser: function () {
        let that = this;
        $.ajax({
          url: getIpLocal() + getPort() + getPath() + 'system_user/add',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify(that.userInput),
          success: function (data) {
            if (data.isSuccess) {
              that.getUser();
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      deleteUser: function () {
        let that = this;
        if (that.selectedUserIndex.length === 0) {
          alert("请至少选择一个用户");
        } else {
          that.selectedUserIndex.forEach(function (item) {
            if (!that.deleteUserId.includes(that.users[item].id)) {
              that.deleteUserId.push(that.users[item].id);
            }
          });
          let ids = that.deleteUserId.toString();
          console.log('要删除的用户的id：' + ids);
          $.ajax({
            url: getUrlLocal() + 'system_user/del/' + ids,
            type: 'post',
            success: function (data) {
              if (data.isSuccess) {
                console.log('请求成功，信息：' + data.result);
                that.getUser();
                that.selectedUserIndex = [];
                that.deleteUserId = [];
              } else {
                alert(data.result);
              }
            },
            error: function () {
              alert('与服务器通信失败，请联系管理员');
            }
          });
        }
      },
      clearInputData: function () {
        this.userInput = {
          createTime: null,
          departmentId: null,
          departmentCode: null,
          departmentName: null,
          email: null,
          fingerprintId: null,
          id: null,
          imgPath: null,
          isAvailable: 1,
          lastLoginTime: null,
          loginName: null,
          name: null,
          password: null,
          phone: null,
        };
      },
      updateUser: function (n) {
        let that = this;
        if (that.selectedUserIndex.length > 1) {
          alert('不能同时更新多个用户！');
        } else if (that.selectedUserIndex.length === 0) {
          alert('请选择一个用户！');
        } else {
          that.userInput = that.users[that.selectedUserIndex[0]];
          if (n === 1) {
            that.selectedRoleId = [];
            that.getRoleIdByUserId(that.userInput.id);
          }
        }
      },
      getRoleIdByUserId: function (userId) {
        let that = this;
        $.ajax({
          url: getIpLocal() + getPort() + getPath() + 'role_to_user/' + userId,
          type: 'get',
          success: function (data) {
            if (data.isSuccess) {
              let roleToUsers;
              roleToUsers = data.result || [];
              if (roleToUsers !== null) {
                roleToUsers.forEach(function (item) {
                  that.selectedRoleId.push(item.roleId);
                });
              }
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      selectRole: function (id) {
        let that = this;
        let index = that.selectedRoleId.indexOf(id);
        if (index !== -1) {
          // 数组中存在该角色id，删除这个id
          that.selectedRoleId.splice(index, 1);
        } else {
          // 数组中不存在该角色id，添加这个id
          that.selectedRoleId.push(id)
        }
        console.log(that.selectedRoleId.toString());
      },
      addRoleToUser: function () {
        let that = this;
        let ajaxUrl = getUrlLocal() + 'role_to_user/addAll/' + that.userInput.id + '/' + that.selectedRoleId.toString();
        let ajaxType = 'post';
        if (that.selectedRoleId.length === 0) {
          ajaxUrl = getUrlLocal() + 'role_to_user/del/user/' + that.userInput.id;
          ajaxType = 'delete';
        }
        $.ajax({
          url: ajaxUrl,
          type: ajaxType,
          success: function (data) {
            if (data.isSuccess) {
              console.log(data.description + data.result);
              that.selectedRoleId = [];
            } else {
              alert(data.result);
            }
          },
          error: function () {
            alert('与服务器通信失败，请联系管理员');
          }
        });
      },
      logout: function () {
        sessionStorage.clear();
        window.location.href = 'bvms-login.html';
      }
    }
  })
</script>

</body>
</html>

















































